{% for professor in professors %}
<tr> 
    <td>{{ professor.nome }}</td>
    <td>{{ professor.email }}</td>
    <td>{{ professor.telefone }}</td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-professor' data-url="{% url 'professor_update' professor.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-professor' data-url="{% url 'professor_delete' professor.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}