{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{{ form.css }}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Editar Laudo</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Editar Laudo</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xl-8 offset-xl-2">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="page-header">Editar Laudo de Pré-Participação</h2>
                <hr>
                <form method="post" action="{% url 'laudo_preparticipacao_atualizar' form.instance.pk %}">
                    {% csrf_token %}

                    {% include 'servicos/laudo_preparticipacao/laudo_preparticipacao_form.html' %}

                    <a type="button" class="btn btn-default"
                       href="{% url 'laudo_preparticipacao_listar' form.instance.pk %}">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>

                </form>
            </div>
        </div>
    </div>
</div>

{{ form.js }}

{% endblock content %}
