{% extends "easy_pdf/base.html" %}

{% load static %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: "A4";
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 4cm;
            margin-bottom: 2.5cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1cm;
                margin-right: 2mm;
                margin-bottom: 2cm;
                margin-left: 1.2cm;
            }
            @frame footer_frame {           /* Static frame */
                -pdf-frame-content: footer_content;
                bottom: 0.3cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 2cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
        html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        p {
            margin: 0 0 0 0;
            font-size: 11pt;
            padding: 0;
        }
        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 60px; margin-left: -25px; }
        .logo img { zoom: 50%; }
        .recipient { margin-left: 7cm; }
        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
            text-align: center;
        }
        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
            padding: 0;
        }

        .main h4 {
            margin: 18px 0 6px 0;
            font-size: 150%;
            font-weight: bold;
            padding: 0;
        }
        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }
        #footer_content{
            text-align: center;
         }
        .texto-rodape{
            font-size: 11pt;
            color: #f9b564;
        }
        .texto-justificado{
            text-align: justify;
            text-justify: inter-word;
        }
        .subtitulo {
            font-weight: 1200;
            border-bottom: 1px;
        }
        .valor{
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
        .texto-colunas{
            font-size: 11pt;
        }
    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header">
            <p class="logo"><img src="{% static 'images/logo.jpeg' %}" /></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="footer_content">
        <table>
            <tbody>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">(27) 3019-0076</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">contato@institutohabilitar.com</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">Avenida Saturnino Rangel Mauro 454 - Jardim da Penha</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">Vitória ES - CEP 29060-770</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="content">
        <div class="main">
            <h1 style="font-weight: 800;">Avaliação Pré-Participação</h1>
            <br>
            <hr>
            <table>
                <tbody>
                    <tr style="padding-top: 10px">
                        <td class="text-center">
                            <h2><strong>Paciente:</strong> {{ paciente.nome }}</h2>
                        </td>
                    </tr>
                    <tr style="padding-top: 10px">
                        <td>
                            <h2><strong>Data:</strong> {{ laudo.data_criacao.value|date:"d/m/Y" }}</h2>
                        </td>
                        <td class="text-center">
                            <h2><strong >Idade:</strong> {{ paciente.idade }}</h2>
                        </td>
                        <td class="text-center">
                            <h2><strong>Sexo:</strong> {{ paciente.get_sexo_display }}</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>

            <br>
            <br>
            <div id="laudo-preparticipacao" >
                {% for field in laudo %}
                    {% if forloop.counter > 3 %}
                    {% if field.value != None %}
                        <h4>{{ field.label }}:</h4>
                        <div >
                            <p class="texto-justificado">
                                {{ field.value }}.
                            </p>
                        </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}