{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{{ form.css }}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Criar Laudo</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Criar Laudo</li>
        </ol>
    </div>
    <!--<div class="col-md-7 col-4 align-self-center">-->
    <!--    <div class="d-flex m-t-10 justify-content-end">-->

    <!--        <div class="">-->
    <!--            <a href="{% url 'laudo_preparticipacao_criar' %}">-->
    <!--            <button type="button" class="btn btn-primary">-->
    <!--              <span class="mdi text-white mdi-plus"></span>-->
    <!--              Novo-->
    <!--            </button>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
</div>


<div class="row">
    <div class="col-xl-8 offset-xl-2">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">Novo Laudo</h2>
                <hr>
                <div class="mt-40">
                    <form method="post" action="{% url 'laudo_preparticipacao_criar'  %}">
                        {% csrf_token %}

                        {% include 'servicos/laudo_preparticipacao/laudo_preparticipacao_form.html' %}

                        <button type="submit" class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">
                            Salvar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form.js }}

{% endblock content %}
