<form method="post" action="{% url 'laudo_preparticipacao_excluir' laudo.id %}" class="js-laudo-preparticipacao-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Deletar Laudo Pré Participação</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Tem certeza que deseja deletar o laudo <strong>{{ laudo.id }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </div>
</form>