{% for laudo in laudos %}
    <tr>
        <td>{{ laudo.id }}</td>
        <td>{{ laudo.data_criacao|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ laudo.paciente }}</td>
        <td>
            <a class='btn btn-warning btn-sm m-1' href="{% url 'laudo_preparticipacao_atualizar' laudo.id %}"> <span class="fa fa-edit"></span> Editar</a>
            <button class='btn btn-danger btn-sm js-delete-laudo-preparticipacao m-1' data-url="{% url 'laudo_preparticipacao_excluir' laudo.id %}"> <span class="fa fa-trash"></span> Excluir</button>
            <a class='btn btn-primary btn-sm m-1' href="{% url 'laudo_preparticipacao_print' laudo.id %}"> <span class="fa fa-print"></span> Imprimir</a>
        </td>
    </tr>
{% endfor %}