<form method="post" action="{% url 'controle_aula_update' aula.pk paciente.pk %}" class="js-controle-aula-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Ficha de Aula de {{ paciente.nome }} </h4>
  </div>
  <div class="modal-body">
    {% include 'controleaula/cria_controle_aula_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>