{% load staticfiles %} 

{% block scripts %}
<script src="{% static 'assets/js/jquery.mask.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function($) {
        $(".pressao-arterial").mask("000x000");
    });
</script>
{% endblock %}


<div class="row">
    <div class="col-md-12">

        {% csrf_token %}

        <div class="row">
            <div class="form-group col-md-6 m-t-20">
                {{ form.pa_inicial.errors }}
                <label for="{{ form.pa_inicial.id_pa_inicial }}">P.A. Inicial</label>
                <div class="input-group">
                    {{ form.pa_inicial }}
                    <span class="input-group-addon">mmHg</span>
                </div>
            </div>

            <div class="form-group col-md-6 m-t-20">
                {{ form.pa_final.errors }}
                <label for="{{ form.pa_final.id_pa_final }}">P.A. Final</label>
                <div class="input-group">
                    {{ form.pa_final }}
                    <span class="input-group-addon">mmHg</span>
                </div>
            </div>
            
            <div class="form-group col-md-6 m-t-20">
                {{ form.glicemia_pre.errors }}
                <label for="{{ form.glicemia_pre.id_glicemia_pre }}">Glicemia Inicial</label>
                <div class="input-group">
                    {{ form.glicemia_pre }}
                    <span class="input-group-addon">mg/dl</span>
                </div>
            </div>

            <div class="form-group col-md-6 m-t-20">
                {{ form.glicemia_pos.errors }}
                <label for="{{ form.glicemia_pos.id_glicemia_pos }}">Glicemia Final</label>
                <div class="input-group">
                    {{ form.glicemia_pos }}
                    <span class="input-group-addon">mg/dl</span>
                </div>
            </div>



            <div class="form-group col-md-6 m-t-20">
                {{ form.peso.errors }}
                <label for="{{ form.peso.id_saturacao_oxigenio }}">Peso</label>
                <div class="input-group">
                    {{ form.peso }}
                    <span class="input-group-addon">Kg</span>
                </div>
            </div>


            <div class="form-group col-md-6 m-t-20">
                {{ form.repeticoes.errors }}
                <label for="{{ form.repeticoes.id_repeticoes }}">Repetições</label>
                <div class="input-group">
                    {{ form.repeticoes }}
                    <span class="input-group-addon">X</span>
                </div>
            </div>


            <div class="form-group col-md-12 m-t-20">
                {{ form.observacoes.errors }}
                <label for="{{ form.observacoes.id_observacoes }}">Observações</label> {{ form.observacoes }}
            </div>
        </div>

    </div>
</div>


{{ formset.management_form }}

<div class="row">
    {% for form in formset %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title"><strong>Medida {{ forloop.counter }} </strong></h3>
                <hr>
                <div class="form-body">
                    <div class="row m-t-20">

                        {{ form.id }} {% for field in form.visible_fields %}

                        <div class="form-group col-md-12">
                            {{ field.label_tag }} {{ field.errors }} {{ field }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
