{% block content %}

{% load staticfiles %}

{{ form.media.css }}



<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Controle Aula</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Controle Aula </li>
        </ol>
    </div>
</div>


<form method="post">

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Aluno: {{ paciente }}</h4>
                <h6 class="card-title">Aula: {{ aula }}</h4>
                
                    {% csrf_token %}
                    
                        
                        <div class="row">
                        

                        <div class="form-group col-md-4 m-t-20">
                            
                            <label for="">Pressão Arterial</label>
                            <div class="input-group">
                                 <input type="text" name="pressao_arterial" id="id_pressao_arterial" class="form-control textinput textInput" maxlength="6">
                                 <span class="input-group-addon">mmHg</span>
                            </div>
                        </div>
                                        
                        <div class="form-group col-md-4 m-t-20">
                            {{ form.pa_inicial.errors }}
                            <label for="{{ form.pa_inicial.id_pa_inicial }}">P.A. Inicial</label>
                            <div class="input-group">
                                {{ form.pa_inicial }}
                                <span class="input-group-addon">mmHg</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4 m-t-20">
                            {{ form.pa_final.errors }}
                            <label for="{{ form.pa_final.id_pa_final }}">P.A. Final</label>
                            <div class="input-group">
                                {{ form.pa_final }}
                                <span class="input-group-addon">mmHg</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4 m-t-20">
                            {{ form.pressao_arterial.errors }}
                            <label for="{{ form.fct.id_fct }}">F.C.T.</label>
                            <div class="input-group">
                                 {{ form.fct }}
                                 <span class="input-group-addon">?</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4 m-t-20">
                            {{ form.peso.errors }}
                            <label for="{{ form.peso.id_saturacao_oxigenio }}">Peso</label>
                            <div class="input-group">
                                {{ form.peso }}
                                <span class="input-group-addon">Kg</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4 m-t-20">
                            {{ form.tmr.errors }}
                            <label for="{{ form.triglicerideos.id_tmr }}">T.M.R.</label>
                            <div class="input-group">
                                {{ form.tmr }}
                                <span class="input-group-addon">?</span>
                            </div>
                            
                        </div>
                        
                        <div class="form-group col-md-6 m-t-20">
                            {{ form.resistencia.errors }}
                            <label for="{{ form.resistencia.id_resistencia }}">Resistência</label>
                            <div class="input-group">
                                {{ form.resistencia }}
                                <span class="input-group-addon">?</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-6 m-t-20">
                            {{ form.repeticoes.errors }}
                            <label for="{{ form.repeticoes.id_repeticoes }}">Repetições</label>
                            <div class="input-group">
                                {{ form.repeticoes }}
                                <span class="input-group-addon">X</span>
                            </div>
                        </div>
                        
                        
                         <div class="form-group col-md-12 m-t-20">
                            {{ form.observacoes.errors }}
                            <label for="{{ form.observacoes.id_observacoes }}">Observações</label>
                            {{ form.observacoes }}
                        </div>
                    </div>
       
                    
                    
     
                    
            </div>
        </div>
    </div>
</div>


{{ formset.management_form }}

<div class="row">                        
{% for form in formset %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                
                <h3 class="card-title"><strong>Medida {{ forloop.counter }} </strong></h3>
                <hr>
                <div class="form-body">
                    <div class="row m-t-20">
                {% for field in form.visible_fields %}
                     
                     <div class="form-group col-md-12">
                        {{ field.errors }}

                        {{ field }}
                    </div>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<button type="submit" class="btn btn-primary">Salvar</button>

</form>

{% endblock content %}
