{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/aula/controle-aula-import.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% include 'base/paciente_header.html' %}

<style>
.table thead th, .table th {
    border: 1px solid #eceeef;
}

td, th{
    width: fit-content !important;
}

</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Aulas Cadastradas</h4>
                <div class="table-responsive m-t-40">
                <table cellpadding="0" cellspacing="0" border="0" id="controle-aula-table" class="table table-hover table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th rowspan="2">Data</th>
                            <th colspan="2">P.A.</th>
                            <th colspan="5">SPO2</th>
                            <th colspan="5">F.C</th>
                            <th colspan="5">BORG</th>
                        </tr>
                        <tr>
                            <th>Inicial</th>
                            <th>Final</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'controleaula/lista_controle_aula_parcial.html' %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        

    <!-- MODAL -->
    <div class="modal fade" id="modal-controle-aula">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
    
          </div>
        </div>
    </div>


    </div>
</div>


{% endblock content %}
