{% for controle,medida in controles_aula %}
<tr> 
    <td>
        <button type='button' class='btn btn-primary btn-sm js-update-controle-aula' data-url="{% url 'import_controleaula_update' controle.pk %}"> 
            <span class='fa fa-edit' aria-hidden='true'></span> 
            Editar
        </button>
    </td>
    <td>{{ controle.data|date:"d/m/Y" }}</td>
    {% if controle.pa_inicial == "NonexNone" %}
    <td>-</td>
    {% else %}
    <td>{{ controle.pa_inicial }}</td>
    {% endif %}
    {% if controle.pa_final == "NonexNone" %}
    <td>-</td>
    {% else %}
    <td>{{ controle.pa_final }}</td>
    {% endif %}
    {% for med in medida %}
    <td>{{ med.spo2 }}</td>
    {% endfor %}
    {% for med in medida %}
    <td>{{ med.fc }}</td>
    {% endfor %}
    {% for med in medida %}
    <td>{{ med.borg }}</td>
    {% endfor %}
</tr>
{% endfor %}