{% extends "prereavaliacao/base_prereavaliacao.html" %}

{% block content_prereavaliacao %}

<div class="tab-pane {% if tab == 'prereavaliacao' %}active{% endif %}" id="tab-prereavaliacao" role="tabpanel">
    <div class="row m-b-20">
        <div class="col-md-7 col-4 offset-md-5 offset-8 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item"> <a href="#tab-list-prereavaliacao" class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-prereavaliacao' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Histórico</a> </li>
                    <li class=" nav-item"> <a href="#tab-form-prereavaliacao" class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-prereavaliacao' %}active{% endif %}" data-toggle="tab" aria-expanded="false">+ Nova</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        {% include 'prereavaliacao/tabela_prereavaliacao.html' %}

        {% include 'prereavaliacao/prereavaliacao_form.html' %}

    </div>
</div>

{% endblock content_prereavaliacao %}