{% for prereavaliacao in prereavaliacoes %}
<tr>
    <td>{{ prereavaliacao.id }}</td> 
    <td>{{ prereavaliacao.data_criacao|date:"d/m/Y" }}</td>
    <td>{{ prereavaliacao.usuario.get_full_name }}</td>
    <td><button type='button' class='btn btn-primary btn-sm js-update-prereavaliacao' data-url="{% url 'prereavaliacao_visualizar' prereavaliacao.id %}"> <span class='fa fa-search' aria-hidden='true'></span> Visualizar</button></td>
    <td><a href="{% url 'prereavaliacao_update' prereavaliacao.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-prereavaliacao' data-url="{% url 'prereavaliacao_delete' prereavaliacao.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
    
</tr>
{% endfor %}