<form method="post" action="{% url 'prereavaliacao_delete' prereavaliacao.id %}" class="js-prereavaliacao-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Deletar Pré-Avaliação</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Tem certeza que deseja deletar a Pré-Reavaliação de <strong>código {{ prereavaliacao.id }}</strong> ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </div>
</form>