{% block content %}


{% load staticfiles %}

{% block scripts %}

<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    var valueDate = document.getElementById('id_data_criacao').value;
    
    if ( valueDate== null || valueDate== '')
    {
        document.getElementById('id_data_criacao').valueAsDate = new Date();
    }

});
 window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  
</script>

{% endblock %}


<div class="tab-pane {% if subtab == 'formulario-prereavaliacao' %}active{% endif %}" id="tab-form-prereavaliacao" role="tabpanel">
    
{% if form.instance.pk != None %}
    <form method="post" action="{% url 'prereavaliacao_update' form.instance.pk %}">
{% else %}
    <form method="post" action="{% url 'prereavaliacao_create' paciente.id %}">
{% endif %}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Novo Relatório Pré-reavaliação</strong></h3>
                <hr>
                <div class="table-responsive m-t-40">
                    {% load crispy_forms_tags %} 
                    {% csrf_token %} 
                    {{ form|crispy }}
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    {% if form.instance.pk != None %}
                        <a href="{% url 'paciente_geral' 'prereavaliacao' paciente.id %}">
                            <button type="button" class="btn btn-danger">
                              Cancelar
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


    
</form>
</div>
{% endblock content %}
