{% block content %}

{% load staticfiles %}

<div class="tab-pane {% if subtab == 'lista-prereavaliacao' %}active{% endif %}" id="tab-list-prereavaliacao" role="tabpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 col-8 align-self-center">
                            <h4 class="card-title">Histórico de Pré-Reavaliações </h4>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table cellpadding="0" cellspacing="0" border="0" id="prereavaliacao-table"
                               class="display nowrap table table-hover table-striped table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>Cód.</th>
                                <th>Data</th>
                                <th>Avaliador</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'prereavaliacao/lista_prereavaliacao_parcial.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- MODAL -->
            <div class="modal fade" id="modal-prereavaliacao">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


{% endblock %}