{% for convenio in convenios %}
<tr> 
    <td>{{ convenio.nome }}</td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-convenio' data-url="{% url 'convenio_update' convenio.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-convenio' data-url="{% url 'convenio_delete' convenio.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}