{% block content %}

{% load staticfiles %}

<div class="row page-titles header-paciente">
    <div class="col-md-5 col-12 align-self-center">
        <div class="d-flex">
            <div class="align-self-center">
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="{% static 'images/user.png' %}" alt="user"> </div>
                   
                    
                </div>
            </div>
            <div class="profile-text align-self-center m-l-20">
                 
                <h6>Paciente:</h6>
                <h4>
                    <strong>{{ paciente.nome }}</strong>
                </h4>
                
            </div>
            <div class="align-self-center ml-3">
                <a href="{% url 'paciente_list_card' %}">
                    <button  type="button" class="btn btn-success btn-circle"><i class="fa fa-repeat"></i> </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-12 align-self-center">
        <a href="{% url 'paciente_menu' paciente.id %}">
            <button type="button" class="btn btn-primary pull-right">
              <span class="text-white mdi mdi-menu"></span>
              Menu
            </button>
        </a>
    </div>
</div>

{% endblock content %}