{% block content %}

{% load widget_tweaks %}

<style>
    .meu-input{
        border: none;
        background: transparent;
        color: #000;
        background: #fff;
        font-family: "Poppins", sans-serif;
        color: #67757c;
    }
</style>

<div class="tab-pane {% if subtab == 'formulario-avaliacaofisica' %}active{% endif %}" id="tab-form-avaliacaofisica" role="tabpanel">


{% if form_fisica.instance.pk != None %}
    <form method="post" action="{% url 'avaliacao_fisica_update' form_fisica.instance.pk %}">
{% else %}
    <form method="post" action="{% url 'avaliacao_fisica_create' paciente.id %}">
{% endif %}

  {% if form_fisica.non_field_errors %}
    <ul>
      {% for error in form_fisica.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}


{% csrf_token %}
<div class="row" style="display: none">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                 <div class="form-body">

                   <div class="row ">



                        <div class="form-group col-md-3 ">
                            <label><strong>Sexo:</strong></label>
                            <br>
                            <input id="id_sexo" class="meu-input" value="{{ paciente.get_sexo_display }}" disabled></input>
                        </div>

                        <div class="form-group col-md-3 ">
                            <label><strong>Raça:</strong></label>
                            <br>
                             <input id="id_raca" class="meu-input" value="{{ paciente.get_raca_display }}" disabled></input>
                        </div>


                        <div class="form-group col-md-3 ">
                            <label><strong>Data Nascimento:</strong></label>
                            <br>
                            <input id="id_data_nascimento" class="meu-input" value="{{ paciente.data_nascimento|date:'d/m/Y' }}" disabled></input>
                        </div>

                        <!-- USADO APENAS PARA CALCULAR A IDADE COM A FUNCAO QUE USA DATA AMERICANA -->
                        <input id="id_nascimento" class="meu-input" value="{{ paciente.data_nascimento|date:'m/d/Y' }}" style="display: none"></input>

                        <div class="form-group col-md-3 ">
                            <label><strong>Idade:</strong></label>
                            <br>
                            <input id="id_idade" class="meu-input"></input>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                 <div class="form-body">
                   <h3 class="card-title"><strong>Nova Avaliação Física</strong></h3>
                   <hr>
                   <div class="row ">

                        <div class="form-group col-md-3 ">
                            <label>Data</label>
                            {{ form_fisica.data }}
                        </div>

                       <div class="form-group col-md-9 ">
                            <label>Avaliador</label>
                            {{ form_fisica.usuario }}
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Composição Corporal</strong></h3>
                <h5 class="card-subtitle"><strong>Bioimpedância</strong></h5>
                <hr>
                <div class="form-body">

                   <div class="row ">

                       <div class="form-group col-md-3 " style="display : none;">
                           {{ form_fisica.paciente }}
                       </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.peso.errors }}
                            <label for="{{ form_fisica.peso.id_peso }}">Peso</label>
                            <div class="input-group">
                                 {{ form_fisica.peso }}
                                 <span class="input-group-addon">Kg</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.estatura.errors }}
                            <label for="{{ form_fisica.estatura.id_estatura }}">Estatura</label>
                            <div class="input-group">
                                 {{ form_fisica.estatura }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.imc.errors }}
                            <label for="{{ form_fisica.imc.id_imc }}">I.M.C.</label>
                            {{ form_fisica.imc }}
                        </div>

                    </div>

                    <div class="row ">


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.percentual_gordura.errors }}
                            <label for="{{ form_fisica.percentual_gordura.id_percentual_gordura }}">Percentual de Gordura</label>
                            <div class="input-group">
                                 {{ form_fisica.percentual_gordura }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.percentual_massa_magra.errors }}
                            <label for="{{ form_fisica.percentual_massa_magra.id_percentual_massa_magra }}">Percentual de Massa Magra</label>
                            <div class="input-group">
                                 {{ form_fisica.percentual_massa_magra }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.percentual_agua.errors }}
                            <label for="{{ form_fisica.percentual_agua.id_percentual_agua }}">Percentual de Água</label>
                            <div class="input-group">
                                 {{ form_fisica.percentual_agua }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>

                    </div>

                    <div class="row ">

                        <div class="col-md-6">
                            {{ form_fisica.classificacao_gordura.errors }}
                            <label for="{{ form_fisica.classificacao_gordura.id_classificacao_gordura }}">Classificação de Gordura</label>
                            {{ form_fisica.classificacao_gordura }}
                        </div>

                        <div class="col-md-6">
                            {{ form_fisica.classificacao_imc.errors }}
                            <label for="{{ form_fisica.classificacao_imc.id_classificacao_imc }}">Classificação de IMC</label>
                            {{ form_fisica.classificacao_imc }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Metabolismo</strong></h3>
                <hr>
                <div class="form-body">

                   <div class="row ">

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.nivel_atividade_fisica.errors }}
                            <label for="{{ form_fisica.nivel_atividade_fisica.id_nivel_atividade_fisica }}">Nível Atividade Física</label>
                            {{ form_fisica.nivel_atividade_fisica }}

                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.gasto_energetico.errors }}
                            <label for="{{ form_fisica.gasto_energetico.id_gasto_energetico }}">Gasto Energético</label>
                            <div class="input-group">
                                 {{ form_fisica.gasto_energetico }}
                                 <span class="input-group-addon">Kcal</span>
                            </div>
                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.metabolismo_basal.errors }}
                            <label for="{{ form_fisica.metabolismo_basal.id_metabolismo_basal }}">Metabolismo Basal</label>
                            <div class="input-group">
                                 {{ form_fisica.metabolismo_basal }}
                                 <span class="input-group-addon">Kcal</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Perimetria</strong></h3>
                <hr>
                <div class="form-body">

                   <div class="row ">

                       <div class="form-group col-md-3 ">
                            {{ form_fisica.pescoco.errors }}
                            <label for="{{ form_fisica.pescoco.id_pescoco }}">Pescoço</label>
                            <div class="input-group">
                                 {{ form_fisica.pescoco }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>


                        <div class="form-group col-md-3 ">
                            {{ form_fisica.cintura.errors }}
                            <label for="{{ form_fisica.cintura.id_cintura }}">Cintura</label>
                            <div class="input-group">
                                 {{ form_fisica.cintura }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>

                        <div class="form-group col-md-3 ">
                            {{ form_fisica.abdominal.errors }}
                            <label for="{{ form_fisica.abdominal.id_abdominal }}">Abdominal</label>
                            <div class="input-group">
                                 {{ form_fisica.abdominal }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>

                        <div class="form-group col-md-3 ">
                            {{ form_fisica.quadril.errors }}
                            <label for="{{ form_fisica.quadril.id_quadril }}">Quadril</label>
                            <div class="input-group">
                                 {{ form_fisica.quadril }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>

                    </div>

                    <div class="row ">


                        <div class="form-group col-md-6 ">
                            {{ form_fisica.braco_direito.errors }}
                            <label for="{{ form_fisica.braco_direito.id_braco_direito }}">Braço Direito</label>
                            <div class="input-group">
                                 {{ form_fisica.braco_direito }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.braco_esquerdo.errors }}
                            <label for="{{ form_fisica.braco_esquerdo.id_braco_esquerdo }}">Braço Esquerdo</label>
                            <div class="input-group">
                                 {{ form_fisica.braco_esquerdo }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>


                    </div>

                    <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.braco_contraido_direito.errors }}
                            <label for="{{ form_fisica.braco_contraido_direito.id_braco_contraido_direito }}">Braço Contraído Direito</label>
                            <div class="input-group">
                                 {{ form_fisica.braco_contraido_direito }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.braco_contraido_esquerdo.errors }}
                            <label for="{{ form_fisica.braco_contraido_esquerdo.id_braco_contraido_esquerdo }}">Braço Contraído Esquerdo</label>
                            <div class="input-group">
                                 {{ form_fisica.braco_contraido_esquerdo }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                           <div class="form-group col-md-6 ">
                            {{ form_fisica.coxa_direita.errors }}
                            <label for="{{ form_fisica.coxa_direita.id_coxa_direita }}">Coxa Direita</label>
                            <div class="input-group">
                                 {{ form_fisica.coxa_direita }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>


                        <div class="form-group col-md-6 ">
                            {{ form_fisica.coxa_esquerda.errors }}
                            <label for="{{ form_fisica.coxa_esquerda.id_coxa_esquerda }}">Coxa Esquerda</label>
                            <div class="input-group">
                                 {{ form_fisica.coxa_esquerda }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.panturrilha_direita.errors }}
                            <label for="{{ form_fisica.panturrilha_direita.id_panturrilha_direita }}">Panturrilha Direita</label>
                            <div class="input-group">
                                 {{ form_fisica.panturrilha_direita }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.panturrilha_esquerda.errors }}
                            <label for="{{ form_fisica.panturrilha_esquerda.id_panturrilha_esquerda }}">Panturrilha Esquerda</label>
                            <div class="input-group">
                                 {{ form_fisica.panturrilha_esquerda }}
                                 <span class="input-group-addon">cm</span>
                            </div>
                        </div>
                    </div>
                     <div class="row ">

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.icq.errors }}
                            <label for="{{ form_fisica.icq.id_icq }}">ICQ</label>
                            {{ form_fisica.icq }}
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.resultado_icq.errors }}
                            <label for="{{ form_fisica.resultado_icq.id_resultado_icq }}">Resultado ICQ</label>
                            {{ form_fisica.resultado_icq }}

                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.res_circunferencia_cintura.errors }}
                            <label for="{{ form_fisica.res_circunferencia_cintura.id_res_circunferencia_cintura }}">Resultado Circ. Cintura</label>
                            {{ form_fisica.res_circunferencia_cintura }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Força de Preensão Manual</strong></h3>
                <hr>
                <h4 class="card-title m-t-40"><strong>Mão Dominante</strong></h4>
                <div class="form-body">


                     <div class="row ">

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.md_medida_1.errors }}
                            <label for="{{ form_fisica.md_medida_1.id_md_medida_1 }}">Medida 1</label>
                            {{ form_fisica.md_medida_1 }}
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.md_medida_2.errors }}
                            <label for="{{ form_fisica.md_medida_2.id_md_medida_2 }}">Medida 2</label>
                            {{ form_fisica.md_medida_2 }}

                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.md_medida_3.errors }}
                            <label for="{{ form_fisica.md_medida_3.id_md_medida_3 }}">Medida 3</label>
                            {{ form_fisica.md_medida_3 }}
                        </div>

                    </div>

                    <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.md_media.errors }}
                            <label for="{{ form_fisica.md_media.id_md_media }}">Média</label>
                            {{ form_fisica.md_media }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.md_resultado.errors }}
                            <label for="{{ form_fisica.md_resultado.id_md_resultado }}">Resultado</label>
                            {{ form_fisica.md_resultado }}

                        </div>


                    </div>

                </div>

                 <h4 class="card-title  m-t-20"><strong>Mão Não Dominante</strong></h4>
                <div class="form-body">


                     <div class="row ">

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.mnd_medida_1.errors }}
                            <label for="{{ form_fisica.mnd_medida_1.id_mnd_medida_1 }}">Medida 1</label>
                            {{ form_fisica.mnd_medida_1 }}
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.mnd_medida_2.errors }}
                            <label for="{{ form_fisica.mnd_medida_2.id_mnd_medida_2 }}">Medida 2</label>
                            {{ form_fisica.mnd_medida_2 }}

                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.mnd_medida_3.errors }}
                            <label for="{{ form_fisica.mnd_medida_3.id_mnd_medida_3 }}">Medida 3</label>
                            {{ form_fisica.mnd_medida_3 }}
                        </div>

                    </div>

                    <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.mnd_media.errors }}
                            <label for="{{ form_fisica.mnd_media.id_mnd_media }}">Média</label>
                            {{ form_fisica.mnd_media }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.mnd_resultado.errors }}
                            <label for="{{ form_fisica.mnd_resultado.id_mnd_resultado }}">Resultado</label>
                            {{ form_fisica.mnd_resultado }}

                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Manovacuometria</strong></h3>
                <hr>
                <h4 class="card-title m-t-40"><strong>P.I. Máximo</strong></h4>
                <div class="form-body">


                     <div class="row ">

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.pi_max_medida_1.errors }}
                            <label for="{{ form_fisica.pi_max_medida_1.id_pi_max_medida_1 }}">Medida 1</label>
                            {{ form_fisica.pi_max_medida_1 }}
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.pi_max_medida_2.errors }}
                            <label for="{{ form_fisica.pi_max_medida_1.id_pi_max_medida_2 }}">Medida 2</label>
                            {{ form_fisica.pi_max_medida_2 }}

                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.pi_max_medida_3.errors }}
                            <label for="{{ form_fisica.pi_max_medida_3.id_pi_max_medida_3 }}">Medida 3</label>
                            {{ form_fisica.pi_max_medida_3 }}
                        </div>

                    </div>

                    <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.pi_max_media.errors }}
                            <label for="{{ form_fisica.pi_max_media.id_pi_max_media }}">Maior Valor</label>
                            {{ form_fisica.pi_max_media }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.pi_max_resultado.errors }}
                            <label for="{{ form_fisica.pi_max_resultado.id_pi_max_resultado }}">Resultado</label>
                            {{ form_fisica.pi_max_resultado }}

                        </div>


                    </div>

                </div>

                 <h4 class="card-title  m-t-20"><strong>PE Máximo</strong></h4>
                <div class="form-body">


                     <div class="row ">

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.pe_max_medida_1.errors }}
                            <label for="{{ form_fisica.pe_max_medida_1.id_pe_max_medida_1 }}">Medida 1</label>
                            {{ form_fisica.pe_max_medida_1 }}
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.pe_max_medida_2.errors }}
                            <label for="{{ form_fisica.pe_max_medida_2.id_pe_max_medida_2 }}">Medida 2</label>
                            {{ form_fisica.pe_max_medida_2 }}

                        </div>


                        <div class="form-group col-md-4 ">
                            {{ form_fisica.pe_max_medida_3.errors }}
                            <label for="{{ form_fisica.pe_max_medida_3.id_pe_max_medida_3 }}">Medida 3</label>
                            {{ form_fisica.pe_max_medida_3 }}
                        </div>

                    </div>

                    <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.pe_max_media.errors }}
                            <label for="{{ form_fisica.pe_max_media.id_pe_max_media }}">Maior Valor</label>
                            {{ form_fisica.pe_max_media }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.pe_max_resultado.errors }}
                            <label for="{{ form_fisica.pe_max_resultado.id_pe_max_resultado }}">Resultado</label>
                            {{ form_fisica.pe_max_resultado }}

                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Parâmetros de Repouso</strong></h3>
                <hr>

                <div class="form-body">


                     <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.frequencia_cardiaca.errors }}
                            <label for="{{ form_fisica.frequencia_cardiaca.id_frequencia_cardiaca }}">Frequência Cardíaca</label>
                            {{ form_fisica.frequencia_cardiaca }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_frequencia_cardiaca.errors }}
                            <label for="{{ form_fisica.av_frequencia_cardiaca.id_av_frequencia_cardiaca }}">Frequência Cardíaca</label>
                            {{ form_fisica.av_frequencia_cardiaca }}
                        </div>

                    </div>
                    <div class="row ">

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.pa_sistolica.errors }}
                            <label for="{{ form_fisica.pa_sistolica.id_pa_sistolica }}">Pressão Arterial Sistólica</label>
                            {{ form_fisica.pa_sistolica }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_pa_sistolica.errors }}
                            <label for="{{ form_fisica.av_pa_sistolica.id_av_pa_sistolica }}">Pressão Arterial Sistólica</label>
                            {{ form_fisica.av_pa_sistolica }}
                        </div>

                    </div>
                    <div class="row ">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.pa_diastolica.errors }}
                            <label for="{{ form_fisica.pa_diastolica.id_pa_diastolica }}">Pressão Arterial Diastólica</label>
                            {{ form_fisica.pa_diastolica }}
                        </div>
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_pa_diastolica.errors }}
                            <label for="{{ form_fisica.av_pa_diastolica.id_av_pa_diastolica }}">Pressão Arterial Diastólica</label>
                            {{ form_fisica.av_pa_diastolica }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.oximetria_pulso.errors }}
                            <label for="{{ form_fisica.oximetria_pulso.id_oximetria_pulso }}">Oximetria de Pulso</label>
                            {{ form_fisica.oximetria_pulso }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_oximetria_pulso.errors }}
                            <label for="{{ form_fisica.av_oximetria_pulso.id_av_oximetria_pulso }}">Oximetria de Pulso</label>
                            {{ form_fisica.av_oximetria_pulso }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.colesterol.errors }}
                            <label for="{{ form_fisica.colesterol.id_colesterol }}">Colesterol</label>
                            {{ form_fisica.colesterol }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_colesterol.errors }}
                            <label for="{{ form_fisica.av_colesterol.id_av_colesterol }}">Colesterol</label>
                            {{ form_fisica.av_colesterol }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.atriglicerideos.errors }}
                            <label for="{{ form_fisica.triglicerideos.id_triglicerideos }}">Triglicerídeos</label>
                            {{ form_fisica.triglicerideos }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_triglicerideos.errors }}
                            <label for="{{ form_fisica.av_triglicerideos.id_av_triglicerideos }}">Triglicerídeos</label>
                            {{ form_fisica.av_triglicerideos }}
                        </div>
                     </div>
                    <div class="row ">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.hdl.errors }}
                            <label for="{{ form_fisica.hdl.id_hdl }}">HDL</label>
                            {{ form_fisica.hdl }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_hdl.errors }}
                            <label for="{{ form_fisica.av_hdl.id_av_hdl }}">HDL</label>
                            {{ form_fisica.av_hdl }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col-md-6 ">
                            {{ form_fisica.glicose.errors }}
                            <label for="{{ form_fisica.glicose.id_glicose }}">Glicose</label>
                            {{ form_fisica.glicose }}
                        </div>

                        <div class="form-group col-md-6 ">
                            {{ form_fisica.av_glicose.errors }}
                            <label for="{{ form_fisica.av_glicose.id_av_glicose }}">Glicose</label>
                            {{ form_fisica.av_glicose }}
                        </div>
                    </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Frequência de Treino</strong></h3>
                <hr>
                <div class="form-body">

                   <div class="row ">

                       <div class="form-group col-md-4 ">
                            {{ form_fisica.fc_maxima.errors }}
                            <label for="{{ form_fisica.fc_maxima.id_fc_maxima }}">F.C. Máxima</label>
                            <div class="input-group">
                                 {{ form_fisica.fc_maxima }}
                                 <span class="input-group-addon">Bpm</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4 ">
                            {{ form_fisica.fc_basal.errors }}
                            <label for="{{ form_fisica.fc_basal.id_fc_basal }}">F.C. Basal</label>
                            <div class="input-group">
                                 {{ form_fisica.fc_basal }}
                                 <span class="input-group-addon">Bpm</span>
                            </div>
                        </div>

                         <div class="form-group col-md-4 ">
                            {{ form_fisica.fc_reserva.errors }}
                            <label for="{{ form_fisica.fc_reserva.id_braco_contraido }}">F.C. Reserva</label>
                            <div class="input-group">
                                 {{ form_fisica.fc_reserva }}
                                 <span class="input-group-addon">Bpm</span>
                            </div>
                        </div>



                    </div>

                    <div class="row">


                        <div class="col-md-4">

                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <h4 class="card-title  m-t-20"><strong>Intensidade de Treino</strong></h4>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_fisica.intensidade_treino.errors }}
                                <label for="{{ form_fisica.fc_reserva_inferior.id_fc_reserva_inferior }}" style="color: #FFF">.</label>
                                 {{ form_fisica.intensidade_treino }}
                            </div>
                        </div>





                        <div class="col-md-4 ">

                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <h4 class="card-title  m-t-20"><strong>F.C. de Reserva</strong></h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6 ">
                                    {{ form_fisica.fc_reserva_inferior.errors }}
                                    <label for="{{ form_fisica.fc_reserva_inferior.id_fc_reserva_inferior }}">Lim. Inferior</label>
                                    <div class="input-group">
                                         {{ form_fisica.fc_reserva_inferior }}
                                         <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 ">
                                    {{ form_fisica.fc_reserva_superior.errors }}
                                    <label for="{{ form_fisica.braco.id_fc_reserva_superior }}">Lim. Superior</label>
                                    <div class="input-group">
                                         {{ form_fisica.fc_reserva_superior }}
                                         <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                           </div>

                        </div>


                        <div class="col-md-4 ">
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <h4 class="card-title  m-t-20"><strong>F.C. de Reserva</strong></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 ">
                                    {{ form_fisica.fc_reserva_inferior_num.errors }}
                                    <label for="{{ form_fisica.fc_reserva_inferior_num.id_fc_reserva_inferior_num }}">Lim. Inferior</label>
                                    <div class="input-group">
                                         {{ form_fisica.fc_reserva_inferior_num }}
                                         <span class="input-group-addon">Bpm</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 ">
                                    {{ form_fisica.id_fc_reserva_superior_num.errors }}
                                    <label for="{{ form_fisica.id_fc_reserva_superior_num.id_id_fc_reserva_superior_num }}">Lim. Superior</label>
                                    <div class="input-group">
                                         {{ form_fisica.fc_reserva_superior_num }}
                                         <span class="input-group-addon">Bpm</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary" >Salvar</button>
{% if form_fisica.instance.pk != None %}
    <a href="{% url 'paciente_geral' 'fisica' paciente.id %}">
        <button type="button" class="btn btn-danger">
          Cancelar
        </button>
    </a>
{% endif %}
</form>
</div>


{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){

    var valueDate = document.getElementById('id_data').value;

    if ( valueDate== null || valueDate== '')
    {
        document.getElementById('id_data').valueAsDate = new Date();
    }

});
 window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }

</script>

{% endblock %}

{% endblock content %}