{% extends "avaliacoes/base_avaliacoes.html" %}

{% block content_avaliacao %}

{% block content_avaliacao_fisica %}

{% endblock content_avaliacao_fisica %}

<div class="tab-pane {% if tab == 'clinica' %}active{% endif %}" id="tab-avaliacaoclinica" role="tabpanel">
    {% include 'avaliacaoclinica/pills_avaliacao_clinica.html' %}
    {% include 'avaliacaoclinica/tabela_avaliacao_clinica.html' %}
</div>

<div class="tab-pane {% if tab == 'postural' %}active{% endif %}" id="tab-avaliacaopostural" role="tabpanel">
    {% include 'avaliacaopostural/pills_avaliacao_postural.html' %}
    {% include 'avaliacaopostural/tabela_avaliacao_postural.html' %}
</div>

<div class="tab-pane {% if tab == 'prereavaliacao' %}active{% endif %}" id="tab-prereavaliacao" role="tabpanel">
    {% include 'prereavaliacao/pills_prereavaliacao.html' %}
    {% include 'prereavaliacao/tabela_prereavaliacao.html' %}
</div>

<div class="tab-pane {% if tab == 'nutricional' %}active{% endif %}" id="tab-avaliacaonutricional" role="tabpanel">
    {% include 'avaliacaonutricional/pills_avaliacao_nutricional.html' %}
    {% include 'avaliacaonutricional/tabela_avaliacao_nutricional.html' %}
</div>

<div class="tab-pane {% if tab == 'caminhada' %}active{% endif %}" id="tab-testecaminhada6" role="tabpanel">
    {% include 'teste_caminhada6/pills_teste_caminhada.html' %}
    {% include 'teste_caminhada6/tabela_teste_caminhada.html' %}
</div>


{% endblock content_avaliacao %}




