{% extends "avaliacaofisica/base_avaliacaofisica.html" %}

{% load staticfiles %}

{% block content_avaliacao_fisica %}

<button class="js-create-fisica" data-url="{% url 'avaliacao_fisica_create' paciente.id %}"> Nova avaliacao Fisica</button>

<div class="tab-pane {% if tab == 'fisica' %}active{% endif %}" id="tab-avaliacaofisica" role="tabpanel">
    <div class="row m-b-20">
        <div class="col-md-7 offset-md-5 col-4 offset-8 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">

                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item">
                        <a href="#tab-list-avaliacaofisica"
                           class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-avaliacaofisica' %}active{% endif %}"
                           data-toggle="tab" aria-expanded="false">
                            Histórico
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a href="#tab-form-avaliacaofisica"
                           class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-avaliacaofisica' %}active{% endif %}"
                           data-toggle="tab" aria-expanded="false">
                            + Nova
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="tab-content">

        {% include 'avaliacaofisica/tabela_avaliacao_fisica.html' %}

        {% include 'avaliacaofisica/avaliacao_fisica_form.html' %}

    </div>


</div>


<!-- MODAL -->
<div class="modal fade" id="modal-fisica">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

      </div>
    </div>
</div>

{% endblock content_avaliacao_fisica %}

{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
<script>
    $(function () {

  /* Functions */

  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-fisica .modal-content").html("");
        $("#modal-fisica").modal("show");
      },
      success: function (data) {
        $("#modal-fisica .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#fisica-table tbody").html(data.html_fisica_list);
          $("#modal-fisica").modal("hide");
        }
        else {
          $("#modal-fisica .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };


  /* Binding */

  // Create fisica
  $(".js-create-fisica").click(loadForm);
  $("#modal-fisica").on("submit", ".js-fisica-create-form", saveForm);

  // Update fisica
  $("#fisica-table").on("click", ".js-update-fisica", loadForm);
  $("#modal-fisica").on("submit", ".js-fisica-update-form", saveForm);

  // Delete fisica
  $("#fisica-table").on("click", ".js-delete-fisica", loadForm);
  $("#modal-fisica").on("submit", ".js-fisica-delete-form", saveForm);

});

</script>
{% endblock %}