{% for avaliacao_fisica in avaliacoes_fisica %}
<tr> 
    <td>{{ avaliacao_fisica.id }}</td>
    <td>{{ avaliacao_fisica.data|date:"d/m/Y" }}</td>
    <td>{{ avaliacao_fisica.usuario.get_full_name }}</td>
    <td><button type='button' class='btn btn-primary btn-sm js-update-avaliacao-fisica' data-url="{% url 'avaliacao_fisica_visualizar' avaliacao_fisica.id %}"> <span class='fa fa-search' aria-hidden='true'></span> Visualizar</button></td>
    <td><a href="{% url 'avaliacao_fisica_update' avaliacao_fisica.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-avaliacao-fisica' data-url="{% url 'avaliacao_fisica_delete' avaliacao_fisica.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}