{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<h4 class="modal-title">Detalhes da Avaliação Física</h4>
</div>
<div class="modal-body">
    
{% load crispy_forms_tags %} 
{% csrf_token %} 
{{ form_fisica|crispy }}

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>
