{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/avaliacao-clinica.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/avaliacao-postural.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/teste-caminhada6.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/avaliacao_fisica/avaliacao-fisica.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/avaliacao_fisica/table-avaliacao-fisica.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/prereavaliacao.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/avaliacao-nutricional.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/js/jquery.mask.min.js' %}" type="text/javascript"></script>


<script type="text/javascript">

    function calculaIdadeX(dateString) {
      var aniversario = +new Date(dateString);
      return ~~((Date.now() - aniversario) / (31557600000));
    }

    $(document).ready(function($){

        $('#menu-pacientes').addClass('active');

        $('#nav-avaliacao-clinica').addClass('active');

        $('#menu-pacientes').addClass('active');

        $(".pressao-arterial").mask("000x000");

        $('#id_info_nascimento').text($('#id_idade').val());

        var delay = 10;
        var offset = 150;


        document.addEventListener('invalid', function(e){
           $(e.target).addClass("invalid");
           $('html, body').animate({scrollTop: $($(".invalid")[0]).offset().top - offset }, delay);
        }, true);
        document.addEventListener('change', function(e){
           $(e.target).removeClass("invalid")
        }, true);

    });


</script>


{% endblock %}

<style>

.nav {
    flex-wrap: wrap !important;
}

.table {
    width: 100% !important;
}

.header-paciente{
    margin: 0 -30px 0px !important;
}

</style>


{% include 'base/paciente_header.html' %}

<div class="row page-titles" style="padding: 0px 0px 20px 15px;">

    <div class="col-md-12">
        <ul class="nav nav-tabs profile-tab nav-tabs-gua" role="tablist">
            <li class="nav-item"> <a id="nav-tab-info" class="nav-link {% if tab == 'info' %}active{% endif %}" data-toggle="tab" href="#info" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Geral</span></a> </li>
            <li class="nav-item"> <a id="nav-tab-avaliacaofisica" class="nav-link {% if tab == 'fisica' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaofisica" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-human-handsup"></i></span> <span class="hidden-xs-down">Avaliação Física</span></a> </li>
            <li class="nav-item"> <a class="nav-link {% if tab == 'clinica' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaoclinica" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-pulse"></i></span> <span class="hidden-xs-down">Avaliação Clínica</span></a> </li>
            <li class="nav-item"> <a class="nav-link {% if tab == 'postural' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaopostural" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-human"></i></span> <span class="hidden-xs-down">Avaliação Postural</span></a> </li>
            <li class="nav-item "> <a class="nav-link {% if tab == 'prereavaliacao' %}active{% endif %}" data-toggle="tab" href="#tab-prereavaliacao" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-file-outline"></i></span> <span class="hidden-xs-down">Pré Reavaliação</span></a> </li>
            <li class="nav-item "> <a class="nav-link {% if tab == 'nutricional' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaonutricional" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-file-outline"></i></span> <span class="hidden-xs-down">Avaliação Nutricional</span></a> </li>
            <li class="nav-item "> <a class="nav-link {% if tab == 'caminhada' %}active{% endif %}" data-toggle="tab" href="#tab-testecaminhada6" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-run"></i></span> <span class="hidden-xs-down">Teste Caminhada</span></a> </li>
        </ul>
    </div>

</div>

<div class="tab-content">

    {% include 'paciente/paciente_informacoes.html' %}

    {% block content_avaliacao %}

    {% endblock content_avaliacao %}

</div>


<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>

{% endblock content %}