{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{{ form.media.css }}

{% block scripts %}


<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/paciente.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/relatorios/template-relatorio.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function() {
        
        $('#menu-prospect').addClass('active');
        
    });


</script>
{% endblock %}

<style>
    .django-ckeditor-widget{
            width: 95% !important;
    }


</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Laudos</h3>

    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <h1 class="card-title">Texto Padrão Laudo</h1>
                        <p style="font-weight: 500" class="mt-5">Tags de preenchimento automático:</p>
                        <span>##nome-aluno## </span>
                        <br>
                        <span>##data-inicio##</span>
                    </div>
                </div>
                <div class="table-responsive m-t-40">
                    <form method="post">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-lg btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{ form.media.js }}

{% endblock content %}


