{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{{ form.media.css }}

{% block scripts %}


<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/paciente.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function() {
        
        $('#menu-prospect').addClass('active');
        
    });
</script>
{% endblock %}

<style>
    .django-ckeditor-widget{
            width: 95% !important;
    }
</style>
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Laudos</h3>

    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="card-title">Texto de Laudo de Aulas</h1>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'template_laudo' %}">
                            <button class="btn btn-primary btn-editar-template">Editar Template</button>
                        </a>
                    </div>
                </div>

                <div class="table-responsive m-t-40">
                    <form method="post">
                        {% load crispy_forms_tags %} 
                        {% csrf_token %} 
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Gerar Relatório</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ form.media.js }}

{% endblock content %}


