{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{% include '../base/paciente_header.html' %}

<style>
@page {
    size: A4;
    margin: 30mm 20mm 20mm 30mm;
}

@media print {
    
    .container-fluid {
        padding: 0;
    }
    .page-wrapper {
        margin-left: auto;
    }

    body * {
        visibility: hidden;
        overflow: visible;
    }

    .imprimir, .imprimir * {
        visibility: visible;
    }

    .nao-imprimir, .nao-imprimir *{
        visibility: hidden;
    }

    
    header, .div-editar, .left-sidebar{
        display: none !important;
    }
    
    .break-after {
        display: block;
        page-break-after: always;
        position: relative;
    }
    
    .break-before {
        display: block;
        page-break-before: always;
        position: relative;
    }


}
</style>

{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $(':checkbox').change(function(){
        $(this).closest('.card').toggleClass('imprimir');
    });
});

</script>

{% endblock scripts %}

<div class="mb-2 d-flex justify-content-end div-editar">
    <a href="{% url 'editar_laudo' laudo.id %}">
        <button class="btn btn-primary waves">Editar Texto</button>
    </a>
</div>
<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Laudo {{ paciente.nome }}</h4>
                <div class="mt-4 imprimir">
                    <div class="col-12 imprimir break-after">
                        {{ laudo.texto | safe }}
                    </div>
                </div>
                <div >
                    {% include 'laudo/avaliacao_fisica_graficos.html' %}
                </div>
                <div>
                    {% include 'laudo/laudo_graficos.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
