{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/regression.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var datas_aulas = JSON.parse('{{ datas_aulas|safe }}');
    var medidas_aulas = JSON.parse('{{ medidas_aulas|safe }}');

    var medidas_inicial_diastolica = JSON.parse('{{ medidas_inicial_diastolica|safe }}');
    var medidas_inicial_sistolica = JSON.parse('{{ medidas_inicial_sistolica|safe }}');

    var medidas_final_diastolica = JSON.parse('{{ medidas_final_diastolica|safe }}');
    var medidas_final_sistolica = JSON.parse('{{ medidas_final_sistolica|safe }}');

</script>


<script src="{% static 'assets/plugins/chart.js/Chart.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/relatorios/grafico-controle-aula.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/relatorios/grafico-controle-aula-fc.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/relatorios/grafico-controle-aula-borg.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/relatorios/grafico-controle-aula-spo2.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/relatorios/grafico-controle-aula-pa.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock scripts %}

<script>
    $(document).ready(function() {

        graficos_borg();

        graficos_spo2();

        graficos_pa();
    });
</script>

<style>
    canvas{

      width:210mm !important;
      height:200px !important;
    
    }
</style>

<div class="graficos imprimir break-before">
    <div id="tab-fc">

        <div class="medidas mb-2">

            <h4 class="card-title">Medidas Média F.C.</h4>
            <div>
                <canvas id="chart-fc-media" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>

        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 1</h4>
            <div>
                <canvas id="chart-fc1" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas mb-2">
            <h4 class="card-title">Medidas 2</h4>
            <div>
                <canvas id="chart-fc2" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 3</h4>
            <div>
                <canvas id="chart-fc3" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 4</h4>
            <div>
                <canvas id="chart-fc4" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 5</h4>
            <div>
                <canvas id="chart-fc5" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>

    </div>
    <div class=" p-20" id="tab-borg">

        <div class="medidas">
            <h4 class="card-title">Medidas Média BORG</h4>
            <div>
                <canvas id="chart-borg-media" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>

        <div class="medidas">
            <h4 class="card-title">Medidas 1</h4>
            <div>
                <canvas id="chart-borg1" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 2</h4>
            <div>
                <canvas id="chart-borg2" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 3</h4>
            <div>
                <canvas id="chart-borg3" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 4</h4>
            <div>
                <canvas id="chart-borg4" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 5 </h4>
            <div>
                <canvas id="chart-borg5" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
    </div>
    <div class="p-20" id="tab-spo2">

        <div class="medidas">
            <h4 class="card-title">Medidas Média SPO2</h4>
            <div>
                <canvas id="chart-spo2-media" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 1</h4>
            <div>
                <canvas id="chart-spo21" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 2</h4>
            <div>
                <canvas id="chart-spo22" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 3</h4>
            <div>
                <canvas id="chart-spo23" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 4</h4>
            <div>
                <canvas id="chart-spo24" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>
        <div class="medidas">
            <h4 class="card-title">Medidas 5</h4>
            <div>
                <canvas id="chart-spo25" height="200" width="800" class="chartjs-render-monitor"
                        style="display: block; width: 800px; height: 200px;"></canvas>
            </div>
        </div>

    </div>
    <div class="p-20" id="tab-pa">

        <h2 class="card-title">Medidas Iniciais</h2>
                            <hr>
                            <div class="medidas">
                                <h4 class="card-title">Sistólica</h4>
                                <div>
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                    <canvas id="chart-pa-inicial-sistolica" height="200" width="800" class="chartjs-render-monitor" style="display: block; width: 800px; height: 200px;"></canvas>
                                </div>
                            </div>
                            <div class="medidas">
                                <h4 class="card-title">Diastólica</h4>
                                <div>
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                    <canvas id="chart-pa-inicial-diastolica" height="200" width="800" class="chartjs-render-monitor" style="display: block; width: 800px; height: 200px;"></canvas>
                                </div>
                            </div>

                            <h2 class="card-title">Medidas Finais</h2>
                            <hr>
                            <div class="medidas">
                                <h4 class="card-title">Sistólica</h4>
                                <div>
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                    <canvas id="chart-pa-final-sistolica" height="200" width="800" class="chartjs-render-monitor" style="display: block; width: 800px; height: 200px;"></canvas>
                                </div>
                            </div>
                            <div class="medidas">
                                <h4 class="card-title">Diastólica</h4>
                                <div>
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                    <canvas id="chart-pa-final-diastolica" height="200" width="800" class="chartjs-render-monitor" style="display: block; width: 800px; height: 200px;"></canvas>
                                </div>
                            </div>

    </div>
</div>