{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{{ form.media.css }}


<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Aula</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Aula</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

            <div class="">
                <button type="button" class="btn btn-primary" data-url="{% url 'aula_create' %}">
                  <span class="mdi text-white mdi-plus"></span>
                  Novo
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nova Aula</h4>
                <div class="table-responsive m-t-40">
                    <form method="post">
                        {% load crispy_forms_tags %} 
                        {% csrf_token %} 
                        {{ form|crispy }}
                        <a href="{% url 'aula_list' %}"><button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button></a>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/aula.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    $('#menu-aulas').addClass('active');
    
     
    var valueDate = document.getElementById('id_data').value;
    
    if ( valueDate== null || valueDate== '')
    {
        document.getElementById('id_data').valueAsDate = new Date();
    }

    
});
 window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  
</script>

{% endblock %}

{{ form.media.js }}


{% endblock content %}


