{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{{ form.media.css }}

{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/aula/controle-aula.js' %}" type="text/javascript" charset="utf-8"></script>


<script type="text/javascript">
  $(document).ready(function(){
   $('#menu-aulas').addClass('active');
  });
  
</script>
{% endblock %}

<style>
    
    span.select2-selection{
        padding-bottom: 10px;
        padding-top: 5px;
    }
    
    .select2-selection__rendered{
        display: table-caption !important;
    }
    
    .select2-selection__choice{
        padding: 5px !important;
    }
    
    .select2-selection__choice__remove{
        padding: 5px;
    }
</style>

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Ministrar Aula</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Ministrar Aula</li>
        </ol>
    </div>
</div>

<form method="post">
    {% csrf_token %} 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                    <div class="form-body">
                        <div class="row">
                            
                            <div class="col-md-6" >
                                
                                <div class="form-group">
                                    {{ form.data.errors }}
                                    <label for="{{ form.data.id_data }}">Data da Aula</label>
                                    {{ form.data }}
                                </div>

                                <div class="form-group">
                                    {{ form.hora.errors }}
                                    <label for="{{ form.hora.id_hora}}">Hora</label>
                                    {{ form.hora }}
                                </div>
                                
                                
                                <div class="form-group">
                                    {{ form.professor.errors }}
                                    <label for="{{ form.professor.id_professor}}">Professor Responsável</label>
                                    {{ form.professor }}
                                </div>
                            </div>
                             
                            <div class="form-group col-md-6">
                                {{ form.alunos.errors }}
                                <label for="{{ form.alunos.id_alunos}}">Alunos</label>
                                {{ form.alunos }}
                            </div>
                        
                             

                    </div>

                    <button type="submit" class="btn btn-primary">Atualizar</button>
                    <a href="{% url 'aula_list' %}" class="btn btn-danger float-right">Encerrar</a>
                        
                </div>
            </div>
        </div>
    </div>
</div>

</form>





<div class="row infinite-container">
    {% for paciente in pacientes %}
    <div class="col-lg-4 col-xlg-3 col-md-5 infinite-item">
        <div class="card">
            <div class="card-body">
                
                    <div class="little-profile text-center">
                        <h3 class="m-b-0">{{ paciente.nome }}</h3>
                        <hr>
                        <div class="m-t-20">
                            <h4>Avaliação Física</h4>
                            <div class="row">
                                <span class="col-12 " ><strong>T.M.R:</strong> {{ paciente.avaliacao_fisica.pi_max_media|floatformat:"0"  }}</span>
                                <span class="col-12 " ><strong>Lim. Inf.:</strong> {{ paciente.avaliacao_fisica.fc_reserva_inferior_num|floatformat:"0" }}</span>
                                <span class="col-12 " ><strong>Lim. Sup.:</strong> {{ paciente.avaliacao_fisica.fc_reserva_superior_num|floatformat:"0" }}</span>                   
                            </div>
                        </div>
                        <div class="m-t-20">
                        <h4>Avaliação Clínica</h4>
                            <div class="m-l-10 m-r-10">
                                <div class="row">
                                    <span class="col-12"><strong>F.C. Máx:</strong> {{ paciente.avaliacao_clinica.fc_max_atingida|floatformat:"0" }}</span>
                                    <span class="col-12"><strong>L.A.:</strong> {{ paciente.avaliacao_clinica.la|floatformat:"0" }}</span>
                                    <span class="col-12"><strong>P.C.R.:</strong> {{ paciente.avaliacao_clinica.pcr|floatformat:"0" }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20">
                            <h4>Teste Caminhada</h4>
                            <span><strong>F.C. Máx:</strong> {{ paciente.teste_caminhada.fc_pos_esforco|floatformat:"0" }}</span>
                        </div>
                        
                        <hr>
                        <td>
                            <button type='button' class='btn btn-success js-create-controle-aula' data-url="{% url 'controle_aula_update' aula.pk paciente.pk %}"> 
                                <span class='fa fa-plus' aria-hidden='true'></span> 
                                Ficha
                            </button>
                        </td>
                       
                    </div>

            </div>
          
        </div>
    </div>
    {% endfor %}
    
    <!-- MODAL -->
    <div class="modal fade" id="modal-controle-aula">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
    
          </div>
        </div>
    </div>
    
</div>

{{ form.media.js }}

{% endblock content %}



