{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/aula/aula.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Lista de Aulas</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Lista de Aulas</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

            <div class="">
                <a href="{% url 'aula_create' %}">
                <button type="button" class="btn btn-primary">
                  <span class="mdi text-white mdi-plus"></span>
                  Novo
                </button>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Aulas Cadastradas</h4>
                <div class="table-responsive m-t-40">
                <table cellpadding="0" cellspacing="0" border="0" id="aula-table" class="display nowrap table table-hover table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Professor</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'aula/lista_aula_parcial.html' %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
        <!-- MODAL -->
        <div class="modal fade" id="modal-aula">
            <div class="modal-dialog">
              <div class="modal-content">
        
              </div>
            </div>
          </div>


    </div>
</div>


{% endblock content %}
