{% for aula in aulas %}
<tr>
    <td>{{ aula.id }}</td> 
    <td>{{ aula.data|date:"d/m/Y" }}</td>
    <td>{{ aula.hora|time:"H:i" }}</td>
    <td>{{ aula.professor }}</td>
    <td><a href="{% url 'aula_alunos' aula.id %}"><button type='button' class='btn btn-primary btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Ministrar</button></a></td>
    <td><a href="{% url 'aula_update' aula.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-aula' data-url="{% url 'aula_delete' aula.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}