{% for medico in medicos %}
<tr> 
    <td>{{ medico.nome }}</td>
    <td>{{ medico.email }}</td>
    <td>{{ medico.telefone }}</td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-medico' data-url="{% url 'medico_update' medico.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-medico' data-url="{% url 'medico_delete' medico.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}