{% for hospital in hospitais %}
<tr> 
    <td>{{ hospital.nome }}</td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-hospital' data-url="{% url 'hospital_update' hospital.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-hospital' data-url="{% url 'hospital_delete' hospital.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}