{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{{ form.media.css }}


<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Parâmetros Gerenciais</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Parâmetros Gerenciais</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Parâmetros</h4>
                    </div>
                </div>
                <div class="table-responsive m-t-40">
                    <form method="post">
                        {% load crispy_forms_tags %} 
                        {% csrf_token %} 
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-info pull-right">
                              Voltar
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{ form.media.js }}

{% endblock content %}


