{% block content %}

{% load staticfiles %}

{% block scripts %}

{{ form_nutricional.media.css }}



<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    var valueDate = document.getElementById('id_data_nutricional').value;
    
    if ( valueDate== null || valueDate== '')
    {
        document.getElementById('id_data_nutricional').valueAsDate = new Date();
    }

});
 window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  
</script>

{% endblock %}


<div class="tab-pane {% if subtab == 'formulario-avaliacaonutricional' %}active{% endif %}" id="tab-form-avaliacaonutricional" role="tabpanel">
    
{% if form_nutricional.instance.pk != None %}
    <form method="post" action="{% url 'avaliacao_nutricional_update' form_nutricional.instance.pk %}">
{% else %}
    <form method="post" action="{% url 'avaliacao_nutricional_create' paciente.id %}">
{% endif %}

<style>
    .django-ckeditor-widget{
        width: 99%;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Novo Relatório Avaliação Nutricional</strong></h3>
                <hr>
                <div class="table-responsive m-t-40">
                    {% load crispy_forms_tags %} 
                    {% csrf_token %} 
                    {{ form_nutricional|crispy }}
                    
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    {% if form.instance.pk != None %}
                        <a href="{% url 'paciente_geral' 'avaliacao_nutricional' paciente.id %}">
                            <button type="button" class="btn btn-danger">
                              Cancelar
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


    
</form>
</div>

{{ form_nutricional.media.js }}

{% endblock content %}
