{% extends "avaliacaonutricional/base_avaliacao_nutricional.html" %}

{% block content_avaliacao_nutricional %}

<div class="tab-pane {% if tab == 'nutricional' %}active{% endif %}" id="tab-avaliacaonutricional" role="tabpanel">
    <div class="row m-b-20">
        <div class="col-md-7 col-4 offset-md-5 offset-8 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item"> <a href="#tab-list-avaliacaonutricional" class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-avaliacaonutricional' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Histórico</a> </li>
                    <li class=" nav-item"> <a href="#tab-form-avaliacaonutricional" class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-avaliacaonutricional' %}active{% endif %}" data-toggle="tab" aria-expanded="false">+ Nova</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        {% include 'avaliacaonutricional/tabela_avaliacao_nutricional.html' %}

        {% include 'avaliacaonutricional/avaliacao_nutricional_form.html' %}

    </div>
</div>

{% endblock content_avaliacao_nutricional %}