{% for avaliacao_nutricional in avaliacoes_nutricional %}
<tr>
    <td>{{ avaliacao_nutricional.id }}</td> 
    <td>{{ avaliacao_nutricional.data_nutricional|date:"d/m/Y" }}</td>
    <td>{{ avaliacao_nutricional.usuario.get_full_name }}</td>
    <td><a href="{% url 'avaliacao_nutricional_update' avaliacao_nutricional.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-avaliacao-nutricional' data-url="{% url 'avaliacao_nutricional_delete' avaliacao_nutricional.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}