{% extends "easy_pdf/base.html" %}

{% load static %}

{% block layout_style %}
    <style type="text/css">
        @page {
            size: "A4";
            margin-left: 2.5cm;
            margin-right: 2.5cm;
            margin-top: 4cm;
            margin-bottom: 2.5cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1cm;
                margin-right: 2mm;
                margin-bottom: 2cm;
                margin-left: 1.2cm;
            }
            @frame footer_frame {           /* Static frame */
                -pdf-frame-content: footer_content;
                bottom: 0.3cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 2cm;
            }
        }
    </style>
{% endblock %}

{% block extra_style %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type="text/css">
        html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        p {
            margin: 0 0 0 0;
            font-size: 11pt;
            padding: 0;
        }
        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 60px; margin-left: -25px; }
        .logo img { zoom: 50%; }
        .recipient { margin-left: 7cm; }
        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
            text-align: center;
        }
        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
            padding: 0;
        }

        .main h4 {
            margin: 18px 0 6px 0;
            font-size: 150%;
            font-weight: bold;
            padding: 0;
        }
        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }
        #footer_content{
            text-align: center;
         }
        .texto-rodape{
            font-size: 11pt;
            color: #f9b564;
        }
        .texto-justificado{
            text-align: justify;
            text-justify: inter-word;
        }
        .subtitulo {
            font-weight: 1200;
            border-bottom: 1px;
        }
        .valor{
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
        .texto-colunas{
            font-size: 11pt;
        }
    </style>
{% endblock %}

{%block page_header%}
    <div id="page-header">
        <div class="header">
            <p class="logo"><img src="{% static 'images/logo.jpeg' %}" /></p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="footer_content">
        <table>
            <tbody>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">(27) 3019-0076</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">contato@institutohabilitar.com</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">Avenida Saturnino Rangel Mauro 454 - Jardim da Penha</span>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="texto-rodape">Vitória ES - CEP 29060-770</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div id="content">
        <div class="main">
            <h1>Avaliação Clínica</h1>
            <h2>Paciente: {{ paciente.nome }}</h2>

            {% if historico %}
            <div id="historico">
                <h2 class="subtitulo"><b>Histórico:</b></h2>
                <table>
                    <tr>
                {% for field in form_clinica.visible_fields|slice:"24:35" %}
                    {% if field.value == True %}
                        <td class="texto-colunas">- {{ field.label }}</td>
                    {% endif %}
                    {% if not forloop.last and forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 %}
                    </tr>
                    <tr>
                    {% endif %}
                {% endfor %}
                    </tr>
                </table>
            </div>
            {% endif %}


            {% if antecedentes %}
            <div id="antecedentes">
                <h2 class="subtitulo"><b>Antecedentes:</b></h2>

                <table>
                {% for key,field in antecedentes %}
                    {% if key == 1%}
                        <tr>
                        <td class="texto-colunas">- {{ field }}</td>
                    {% else %}
                        <td class="texto-colunas">- {{ field }}</td>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
            {% endif %}


            {% if anamnse %}
            <div id="anamnse">
                <h2 class="subtitulo"><b>Anamnse:</b></h2>

                {% for field in form_clinica.visible_fields|slice:"3:9" %}

                    {% if field.value != None %}
                        <h4>{{ field.label }}:</h4>
                        <div >
                            <p class="texto-justificado">
                                {{ field.value }}.
                            </p>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
            {% endif %}


            {% if form_clinica.eco.value != None or form_clinica.cat.value != None or form_clinica.ecg.value != None or form_clinica.outros.value != None or ergometrico or cardiopulmonar %}
            <div id="exames-complementares">
                <h2 class="subtitulo"><b>Exames Complementares:</b></h2>

                {% if form_clinica.eco.value != None %}
                <h4>{{ form_clinica.eco.label }}</h4>
                <p class="texto-justificado">{{ form_clinica.eco.value }}.</p>
                {% endif %}

                {% if form_clinica.cat.value != None  %}
                <h4>{{ form_clinica.cat.label }}</h4>
                <p class="texto-justificado">{{ form_clinica.cat.value }}.</p>
                {% endif %}

                {% if form_clinica.ecg.value != None %}
                <h4>{{ form_clinica.ecg.label }}</h4>
                <p class="texto-justificado">{{ form_clinica.ecg.value }}.</p>
                {% endif %}

                {% if form_clinica.outros.value != None %}
                <h4>{{ form_clinica.outros.label }}</h4>
                <p class="texto-justificado">{{ form_clinica.outros.value }}.</p>
                {% endif %}


                {% if ergometrico %}
                <div id="ergometrico">
                    <h2 class="subtitulo"><b>Teste Ergometrico:</b></h2>

                    {% for field in form_ergometrico.visible_fields %}

                        {% if field.value != None %}
                            <h4>{{ field.label }}:</h4>
                            <div >
                                <p class="texto-justificado">
                                    {{ field.value }}.
                                </p>
                            </div>
                        {% else %}

                        {% endif %}

                    {% endfor %}

                </div>
                {% endif %}

                {% if cardiopulmonar %}
                <div id="cardiopulmonar">
                    <h2 class="subtitulo"><b>Teste Cardio Pulmonar:</b></h2>

                    {% for field in form_cardiopulmonar.visible_fields %}

                        {% if field.value != None %}
                            <h4>{{ field.label }}:</h4>
                            <div >
                                <p class="texto-justificado">
                                    {{ field.value }}.
                                </p>
                            </div>
                        {% else %}

                        {% endif %}

                    {% endfor %}

                </div>
                {% endif %}


                {% if bioquimicos %}
                <div id="bioquimicos">
                    <h2 class="subtitulo"><b>Exames Bioquimicos:</b></h2>

                    {% for field in form_bioquimicos.visible_fields %}

                        {% if field.value != None %}
                            <h4>{{ field.label }}:</h4>
                            <div >
                                <p class="texto-justificado">
                                    {{ field.value }}.
                                </p>
                            </div>
                        {% else %}

                        {% endif %}

                    {% endfor %}

                </div>
                {% endif %}


            </div>
            {% endif %}


            {% if examesfisicos %}
            <div id="examesfisicos">
                <h2 class="subtitulo"><b>Exames Físicos:</b></h2>

                {% for field in examesfisicos %}
                    {% if field.value != None %}
                        <h4>{{ field.label }}:</h4>
                        <div >
                            <p class="texto-justificado">
                                {{ field.value }}.
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            {% endif %}


            {% if form_clinica.texto_prescricao.value != None or form_clinica.risco_cardiovascular.value != None %}
            <div id="examesfisicos">
                <h2 class="subtitulo"><b>Prescrição Médica:</b></h2>

                {% if form_clinica.risco_cardiovascular.value != None %}
                    <h4>{{ form_clinica.risco_cardiovascular.label }}:</h4>
                    <div >
                        <p class="texto-justificado">
                            {{ form_clinica.instance.get_risco_cardiovascular_display }}.
                        </p>
                    </div>
                {% endif %}


                {% if form_clinica.texto_prescricao.value != None %}
                    <h4>{{ form_clinica.texto_prescricao.label }}:</h4>
                    <div >
                        <p class="texto-justificado">
                            {{ form_clinica.texto_prescricao.value }}.
                        </p>
                    </div>
                {% endif %}

            </div>
            {% endif %}



            {% if form_clinica.texto_prescricao.value != None or form_clinica.risco_cardiovascular.value != None %}
            <div id="examessolicitados">
                <h2 class="subtitulo"><b>Exames Solicitados:</b></h2>

                {% if form_clinica.texto.value != None %}
                    <div >
                        <p class="texto-justificado">
                            {{ form_clinica.texto.value }}.
                        </p>
                    </div>
                {% endif %}


            </div>
            {% endif %}


            {% if tc6 %}
            <div id="tc6">
                <h2 class="subtitulo"><b>TC6:</b></h2>

                {% for field in tc6 %}

                    {% if field.value != None %}
                        <h4>{{ field.label }}:</h4>
                        <div >
                            <p class="texto-justificado">
                                {{ field.value }}.
                            </p>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
            {% endif %}



            {% if biomedicos %}
            <div id="biomedicos">
                <h2 class="subtitulo"><b>Parâmetros Biomédicos:</b></h2>

                {% for field in biomedicos %}

                    {% if field.value != None %}
                        <h4>{{ field.label }}:</h4>
                        <div >
                            <p class="texto-justificado">
                                {{ field.value }}.
                            </p>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}