<form method="post" action="{% url 'cliente_servico_update' form.instance.pk %}" class="js-cliente-servico-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Atualizar Cliente de Serviços</h4>
  </div>
  <div class="modal-body">
    {% include 'servicos/cliente_servico/cria_cliente_servico_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </div>
</form>