<form method="post" action="{% url 'cliente_servico_create' %}" class="js-cliente-servico-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Novo Cliente de Serviços</h3>
  </div>
  <div class="modal-body">
    {% include 'servicos/cliente_servico/cria_cliente_servico_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>