{% for cliente_servico in cliente_servicos %}
<tr> 
    <td>{{ cliente_servico.nome }}</td>
    <td><a href="{% url 'laudo_preparticipacao_listar' cliente_servico.id %}"><button type='button' class='btn btn-success btn-sm'> <span class='fa fa-plus' aria-hidden='true'></span> Laudos</button></a></td>
    <td><a href="{% url 'paciente_update' cliente_servico.id %}"><button type='button' class='btn btn-success btn-sm'> <span class='fa fa-plus' aria-hidden='true'></span> Completar</button></a></td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-cliente-servico' data-url="{% url 'cliente_servico_update' cliente_servico.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-cliente-servico' data-url="{% url 'cliente_servico_delete' cliente_servico.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}