{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Instituto Habilitar</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static 'assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'assets/css/colors/blue.css' %}" id="theme" rel="stylesheet">
 
 
<![endif]-->
<style type="text/css">
    .jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image: url('{% static 'images/fundo.jpg' %}');">        
            <div class="login-box card" style="box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.9)">
            <div class="card-body">
                
                
                
                <form class="form-horizontal form-material" id="loginform" method="post" action="{% url 'login' %}">
                    <!--<h3 class="box-title m-b-20">Instituto Habilitar</h3>-->
                    <div class="box-title m-b-40" style="text-align : center;">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            
                            <!-- Light Logo icon -->
                            <!--<img src="/static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
                            <span id="logo-ih"><strong style="font-size : 30px !important;">Instituto</strong></span><span id="logo-ih2"><strong style="font-size : 30px !important;">Habilitar</strong></span>
     
                        </div>
                    {% csrf_token %}
    		           {% if form.errors %}
    		           <br>
                        <p> Nome de usuário ou senha incorreto. Tente novamente! </p>
                    {% endif %}
                    
                    {% if next %}
                      {% if user.is_authenticated %}
                      <p>Você não tem acesso a está pagina.</p>
                      {% else %}
                      <p>Por favor faça o login.
                      {% endif %}

                    {% endif %}
                    <div class="form-group ">
                        <div class="col-xs-12">
                            {{ form.username }}
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form.password }}
                            </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Lembrar </label>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Entrar</button>
                        </div>
                    </div>
                </form>
                
            </div>
          </div>
        </div>
        
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
     <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/tether.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'assets/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'assets/js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{% static 'assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'assets/plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'assets/plugins/c3-master/c3.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'assets/js/dashboard1.js' %}"></script>
    
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>

</body></html>