{% for paciente in pacientes %}
<tr> 
    <td>{{ paciente.nome }}</td>
    <td><a href="{% url 'paciente_update' paciente.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
</tr>
{% endfor %}