{% load staticfiles %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Instituto Habilitar</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static 'assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'assets/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    
    <![endif]-->
</head>

<body>

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>

<script type="text/javascript">

    $(document).ready(function($){
        
        var data_fc = {
          // A labels array that can contain any sort of values
          labels: [
              'Rep.',1, 2, 3, 4, 5, 6, 'Pós', 'Rec.'
          ],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [
                {{ teste_caminhada.fc_repouso }}, {{ teste_caminhada.fc_1 }}, {{ teste_caminhada.fc_2 }}, {{ teste_caminhada.fc_3 }}, {{ teste_caminhada.fc_4 }}, {{ teste_caminhada.fc_5 }}, {{ teste_caminhada.fc_6 }}, {{ teste_caminhada.fc_pos_esforco }}, {{ teste_caminhada.fc_recuperacao }}
            ]
          ]
        };
    
        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart-fc', data_fc);
    

        var data_sp02 = {
          // A labels array that can contain any sort of values
          labels: [
              'Rep.', 1, 2, 3, 4, 5, 6, 'Pós', 'Rec.'
          ],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [
                {{ teste_caminhada.sp02_repouso }},
                {{ teste_caminhada.sp02_1 }},
                {{ teste_caminhada.sp02_2 }}, 
                {{ teste_caminhada.sp02_3 }}, 
                {{ teste_caminhada.sp02_4 }}, 
                {{ teste_caminhada.sp02_5 }}, 
                {{ teste_caminhada.sp02_6 }},
                {{ teste_caminhada.sp02_pos_esforo }},
                {{ teste_caminhada.sp02_recuperacao }}
            ]
          ]
        };
    
        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart-sp02', data_sp02);
        
        
        
        var data_borg = {
          // A labels array that can contain any sort of values
          labels: [
              'Rep.', 1, 2, 3, 4, 5, 6, 'Pós', 'Rec.'
          ],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [
                {{ teste_caminhada.borg_repouso }},
                {{ teste_caminhada.borg_1 }}, 
                {{ teste_caminhada.borg_2 }}, 
                {{ teste_caminhada.borg_3 }}, 
                {{ teste_caminhada.borg_4 }}, 
                {{ teste_caminhada.borg_5 }}, 
                {{ teste_caminhada.borg_6 }},
                {{ teste_caminhada.borg_pos_esforco }},
                {{ teste_caminhada.borg_recuperacao }}
            ]
          ]
        };
    
        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart-borg', data_borg);
        
        
        
        var data_pa = {
          // A labels array that can contain any sort of values
          labels: [
              1, 2, 3
          ],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [
                {{ teste_caminhada.pa_repouso|slice:"0:3" }}, {{ teste_caminhada.pa_pos_esforco|slice:"0:3" }}, {{ teste_caminhada.pa_recuperacao|slice:"0:3" }}
            ],
            [
                {{ teste_caminhada.pa_repouso|slice:"4:7" }}, {{ teste_caminhada.pa_pos_esforco|slice:"4:7" }}, {{ teste_caminhada.pa_recuperacao|slice:"4:7" }}
            ]
          ]
        };
    

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart-pa', data_pa);
        
        
        
        var data_metros = {
          // A labels array that can contain any sort of values
          labels: [
              1, 2, 3, 4, 5, 6
          ],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [
                {{ teste_caminhada.voltas_1 }} * 17.0, {{ teste_caminhada.voltas_2 }} * 17.0, {{ teste_caminhada.voltas_3 }} * 17.0, {{ teste_caminhada.voltas_4 }} * 17.0, {{ teste_caminhada.voltas_5 }} * 17.0, {{ teste_caminhada.voltas_6 }} * 17.0
            ]
          ]
        };
    
        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart-metros', data_metros);
        
        
        
        var data_distancia = {
          // A labels array that can contain any sort of values
          labels: [
              1, 2, 3, 4, 5, 6
          ],
          // Our series array that contains series objects or in this case series data arrays
          series: [
            [
                {{ teste_caminhada.voltas_1 }} * 17.0, 
                {{ teste_caminhada.voltas_2 }} * 17.0 + {{ teste_caminhada.voltas_1 }} * 17.0, 
                {{ teste_caminhada.voltas_3 }} * 17.0 + {{ teste_caminhada.voltas_2 }} * 17.0 + {{ teste_caminhada.voltas_1 }} * 17.0, 
                {{ teste_caminhada.voltas_4 }} * 17.0 + {{ teste_caminhada.voltas_3 }} * 17.0 + {{ teste_caminhada.voltas_2 }} * 17.0 + {{ teste_caminhada.voltas_1 }} * 17.0, 
                {{ teste_caminhada.voltas_5 }} * 17.0 + {{ teste_caminhada.voltas_4 }} * 17.0 + {{ teste_caminhada.voltas_3 }} * 17.0 + {{ teste_caminhada.voltas_2 }} * 17.0 + {{ teste_caminhada.voltas_1 }} * 17.0, 
                {{ teste_caminhada.voltas_6 }} * 17.0 + {{ teste_caminhada.voltas_5 }} * 17.0 + {{ teste_caminhada.voltas_4 }} * 17.0 + {{ teste_caminhada.voltas_3 }} * 17.0 + {{ teste_caminhada.voltas_2 }} * 17.0 + {{ teste_caminhada.voltas_1 }} * 17.0
            ]
          ]
        };
    
        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.ct-chart-distancia', data_distancia);
        
        
         $( "#btn-imprimir" ).on('click',function () {

            html2canvas(document.body).then(function(canvas) {
                document.body.appendChild(canvas);
            });

        });
    
        var data_nascimento = $('#id_nascimento').val();
  
        $('#id_idade').val(calculaIdade(data_nascimento));
        
        setTimeout(function(){

            window.print();
        
        }, 500); 
        
    });

   

    
    function calculaIdade(dateString) {
        console.log('teste ' + dateString)
      var aniversario = +new Date(dateString);
      return ~~((Date.now() - aniversario) / (31557600000));
    }
    
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
      }
    
</script>

<style>
svg {
    padding-top: 15px;
}

.ct-series-a .ct-line {
    stroke: #1e88e5 !important;
}

.ct-series-a .ct-point {
    stroke: #1e88e5 !important;
}


.ct-series-b .ct-line {
    stroke: #26c6da !important;
}

.ct-series-b .ct-point {
    stroke: #26c6da !important;
}

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }
    
    @page {
        size: A4;
        margin: 40mm 40mm 25mm 20mm;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm; 
        }
        .page {
            margin: 0px;
            padding: 0px;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
    .form-group{
        margin-bottom: 0px;
    }
    
    .card{
        margin-bottom: 10px;
    }
    
</style>

{% endblock %}
<div class="page">

<div class="row">
    <div class=" col-12 align-self-center">
        <h3 class="text-themecolor" style="text-align:center">Teste Caminhada 6 Minutos</h3>
        <h3 class="text-themecolor" style="text-align:center">{{ teste_caminhada.paciente.nome }}</h3>
        
    </div>
    <div class=" col-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            </div>
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            </div>

        </div>
    </div>

</div>
<div class="row m-b-10">
    <!-- USADO APENAS PARA CALCULAR A IDADE COM A FUNCAO QUE USA DATA AMERICANA -->
    <input id="id_nascimento" class="meu-input" value="{{ teste_caminhada.paciente.data_nascimento|date:'m/d/Y' }}" style="display: none"></input>
    
    <div class="form-group col-4 ">
        <label><strong>Idade:</strong></label>
        <br>
        <input id="id_idade" class="form-control textinput textInput " style="border:0px; padding-left: 0px"></input>
    </div>
    <div class="form-group  col-4 ">
        <label><strong>Sexo:</strong></label>
        <br>
        <input class="form-control textinput textInput " value=" {{ teste_caminhada.paciente.get_sexo_display }}" style="border:0px; padding-left: 0px"></input>
       
    </div>
    <div class="form-group  col-4 ">
        <label><strong>Data:</strong></label>
        <input class="form-control textinput textInput " value="{{ teste_caminhada.data|date:'d/m/Y' }}" style="border:0px; padding-left: 0px"></input>
        
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                 <div class="form-body">
                   <div class="row ">
                        
                        <div class="form-group col-12">
                            <h3 class="card-stitle"><strong>Medidas em Repouso</strong></h3>
                        </div>
                        <div class="form-group col-4 ">
                            {{ form_caminhada6.pa_repouso.errors }}
                            <label for="{{ form_caminhada6.pa_repouso.id_pa_repouso }}">Pressão Arterial</label>
                            <div class="input-group">
                                {{ form_caminhada6.pa_repouso }}
                                 <span class="input-group-addon">mm/Hg</span>
                            </div>
                        </div>
                        
  
                        
                        
                        <div class="form-group col-3 ">
                            {{ form_caminhada6.fc_repouso.errors }}
                            <label for="{{ form_caminhada6.fc_repouso.id_fc_repouso }}">Freq. Cardíaca</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_repouso }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-3 ">
                            {{ form_caminhada6.sp02_repouso.errors }}
                            <label for="{{ form_caminhada6.sp02_repouso.id_sp02_repouso }}">SP02</label>
                            <div class="input-group">
                                {{ form_caminhada6.sp02_repouso }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-2 ">
                            {{ form_caminhada6.borg_repouso.errors }}
                            <label for="{{ form_caminhada6.borg_repouso.id_borg_repouso }}">Borg</label>
                            {{ form_caminhada6.borg_repouso }}
                        </div>
                    </div>
                    

                        
                            

                </div>
            </div>
        </div>
    </div>
    
</div>




<div class="row">
  
      <div class=" col-12">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 1</strong></h5>
                 
                <div class="form-body">

                
                   <div class="row  ">
                        
                        <div class="form-group  col-3 ">
                            {{ form_caminhada6.fc_1.errors }}
                            <label for="{{ form_caminhada6.fc_1.id_fc_1 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_1 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group  col-3 ">
                            {{ form_caminhada6.sp02_1.errors }}
                            <label for="{{ form_caminhada6.sp02_1.id_sp02_1 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_1 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        
                        <div class="form-group  col-3 ">
                            {{ form_caminhada6.borg_1.errors }}
                            <label for="{{ form_caminhada6.borg_1.id_borg_1 }}">BORG</label>
                            {{ form_caminhada6.borg_1 }}
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.voltas_1.errors }}
                            <label for="{{ form_caminhada6.voltas_1.id_voltas_1 }}">Nº de Voltas</label>
                            {{ form_caminhada6.voltas_1 }}
                        </div>
                        
                        <div class="form-group  col-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_1.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_1.id_sinais_sintomas_1 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_1 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12" style="margin-top: ">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 2</strong></h5>
                 
                <div class="form-body">

    
                   <div class="row  ">
                        
                        
                        <div class="form-group  col-3 ">
                            {{ form_caminhada6.fc_2.errors }}
                            <label for="{{ form_caminhada6.fc_2.id_fc_2 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_2 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group  col-3 ">
                            {{ form_caminhada6.sp02_2.errors }}
                            <label for="{{ form_caminhada6.sp02_2.id_sp02_2 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_2 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.borg_2.errors }}
                            <label for="{{ form_caminhada6.borg_2.id_borg_2 }}">BORG</label>
                            {{ form_caminhada6.borg_2 }}
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.voltas_2.errors }}
                            <label for="{{ form_caminhada6.voltas_2.id_voltas_2 }}">Nº de Voltas</label>
                            {{ form_caminhada6.voltas_2 }}
                        </div>
                        
                        <div class="form-group  col-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_2.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_2.id_sinais_sintomas_2 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_2 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class=" col-12">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 3</strong></h5>
                 
                <div class="form-body">

    
                   <div class="row  ">
                        
                        <div class="form-group  col-3">
                            {{ form_caminhada6.fc_3.errors }}
                            <label for="{{ form_caminhada6.fc_3.id_fc_3 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_3 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.sp02_3.errors }}
                            <label for="{{ form_caminhada6.sp02_3.id_sp02_3 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_3 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.borg_3.errors }}
                            <label for="{{ form_caminhada6.borg_3.id_borg_3 }}">BORG</label>
                            {{ form_caminhada6.borg_3 }}
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.voltas_3.errors }}
                            <label for="{{ form_caminhada6.voltas_3.id_voltas_3 }}">Nº de Voltas</label>
                            {{ form_caminhada6.voltas_3 }}
                        </div>
                        <div class="form-group  col-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_3.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_3.id_sinais_sintomas_3 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_3 }}
                        </div>
    
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class=" col-12">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 4</strong></h5>
                 
                <div class="form-body">

    
                   <div class="row  ">
                        
                        <div class="form-group  col-3">
                            {{ form_caminhada6.fc_4.errors }}
                            <label for="{{ form_caminhada6.fc_4.id_fc_4 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_4 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.sp02_4.errors }}
                            <label for="{{ form_caminhada6.sp02_4.id_sp02_4 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_4 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.borg_4.errors }}
                            <label for="{{ form_caminhada6.borg_4.id_borg_4 }}">BORG</label>
                            {{ form_caminhada6.borg_4 }}
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.voltas_4.errors }}
                            <label for="{{ form_caminhada6.voltas_4.id_voltas_4 }}">Nº de Voltas</label>
                            {{ form_caminhada6.voltas_4 }}
                        </div>
                        <div class="form-group  col-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_4.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_4.id_sinais_sintomas_4 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_4 }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class=" col-12" style="margin-top: 40px">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 5</strong></h5>
                 
                <div class="form-body">

    
                   <div class="row  ">
                        <div class="form-group  col-3">
                            {{ form_caminhada6.fc_5.errors }}
                            <label for="{{ form_caminhada6.fc_5.id_fc_5 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_5 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.sp02_5.errors }}
                            <label for="{{ form_caminhada6.sp02_5.id_sp02_5 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_5 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.borg_5.errors }}
                            <label for="{{ form_caminhada6.borg_5.id_borg_5 }}">BORG</label>
                            {{ form_caminhada6.borg_5 }}
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.voltas_5.errors }}
                            <label for="{{ form_caminhada6.voltas_5.id_voltas_5 }}">Nº de Voltas</label>
                            {{ form_caminhada6.voltas_5 }}
                        </div>
                        <div class="form-group  col-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_5.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_5.id_sinais_sintomas_5 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_5 }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class=" col-12" style="margin-top: ">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 6</strong></h5>
                 
                <div class="form-body">

    
                   <div class="row  ">
                        
                        <div class="form-group  col-3">
                            {{ form_caminhada6.fc_6.errors }}
                            <label for="{{ form_caminhada6.fc_6.id_fc_6 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_6 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.sp02_6.errors }}
                            <label for="{{ form_caminhada6.sp02_6.id_sp02_6 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_6 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.borg_6.errors }}
                            <label for="{{ form_caminhada6.borg_6.id_borg_6 }}">BORG</label>
                            {{ form_caminhada6.borg_6 }}
                        </div>
                        <div class="form-group  col-3">
                            {{ form_caminhada6.voltas_6.errors }}
                            <label for="{{ form_caminhada6.voltas_6.id_voltas_6 }}">Nº de Voltas</label>
                            {{ form_caminhada6.voltas_6 }}
                        </div>
                        <div class="form-group  col-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_6.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_6.id_sinais_sintomas_6 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_6 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-12">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-stitle"><strong> Medidas Pós Esforço</strong></h3>
                 
                <div class="form-body">

    
                   <div class="row ">
                           
                            <div class="form-group  col-4 ">
                                {{ form_caminhada6.pa_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.pa_pos_esforco.id_pa_pos_esforco }}">Pressão Arterial</label>
                                <div class="input-group">
                                    {{ form_caminhada6.pa_pos_esforco }}
                                     <span class="input-group-addon">mm/Hg</span>
                                </div>
                            </div>
                            
                            <div class="form-group  col-3 ">
                                {{ form_caminhada6.fc_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.fc_pos_esforco.id_fc_pos_esforco }}">Freq. Cardíaca</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.fc_pos_esforco }}
                                     <span class="input-group-addon">bpm</span>
                                </div>
                            </div>
                            
                            <div class="form-group  col-3 ">
                                {{ form_caminhada6.sp02_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.sp02_pos_esforco.id_sp02_pos_esforco }}">SP02</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.sp02_pos_esforco }}
                                     <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            
                            <div class="form-group  col-2 ">
                                {{ form_caminhada6.borg_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.borg_pos_esforco.id_borg_pos_esforco }}">Borg</label>
                                {{ form_caminhada6.borg_pos_esforco }}
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
        
    <div class=" col-12" style="margin-top:">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-stitle"><strong>Medidas em Recuperação</strong></h3>
                 
                <div class="form-body">

    
                   <div class="row  ">
                        
                            <div class="form-group  col-4">
                                {{ form_caminhada6.pa_recuperacao.errors }}
                                <label for="{{ form_caminhada6.pa_recuperacao.id_pa_recuperacao }}">Pressão Arterial</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.pa_recuperacao }}
                                     <span class="input-group-addon">mm/Hg</span>
                                </div>
                            </div>
                            
                            <div class="form-group  col-3">
                                {{ form_caminhada6.fc_recuperacao.errors }}
                                <label for="{{ form_caminhada6.fc_recuperacao.id_fc_recuperacao }}">Freq. Cardíaca</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.fc_recuperacao }}
                                     <span class="input-group-addon">bpm</span>
                                </div>
                            </div>
                            
                            <div class="form-group  col-3 ">
                                {{ form_caminhada6.sp02_recuperacao.errors }}
                                <label for="{{ form_caminhada6.sp02_recuperacao.id_sp02_recuperacao }}">SP02</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.sp02_recuperacao }}
                                     <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            
                            <div class="form-group  col-2">
                                {{ form_caminhada6.borg_recuperacao.errors }}
                                <label for="{{ form_caminhada6.borg_recuperacao.id_borg_recuperacao }}">Borg</label>
                                {{ form_caminhada6.borg_recuperacao }}
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
</div>

    
<div id="dashboard-teste-caminhada" >
    <div class="row " style="margin-top: 640px">
        
        <div class=" col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Frequência Cardíaca</h4>
                    <div class="table-responsive m-t-40">
                        <div id="grafico-fc" class="ct-chart-fc ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=" col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">SPO2</h4>
                    <div class="table-responsive m-t-40">
                        <div class="ct-chart-sp02 ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class=" col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">BORG</h4>
                    <div class="table-responsive m-t-40">
                        <div class="ct-chart-borg ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class=" col-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div>
                            <h4 class="card-title">Pressão Arterial</h4>
                        </div>
                        <div class="ml-auto align-self-center">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <h6 class="text-muted text-success "><i class="fa fa-circle font-10 m-r-10 "></i>Sistólica</h6> </li>
                                <li>
                                    <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Diastólica</h6> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <div class="ct-chart-pa ct-perfect-fourth"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        <div class=" col-6" style="margin-top: ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Metros por Minuto</h4>
                    <div class="table-responsive m-t-40">
                        <div class="ct-chart-metros ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class=" col-6" style="margin-top: ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Distância Total</h4>
                    <div class="table-responsive m-t-40">
                        <div class="ct-chart-distancia ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/tether.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'assets/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'assets/js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{% static 'assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'assets/plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'assets/plugins/c3-master/c3.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'assets/js/dashboard1.js' %}"></script>
    
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/html2canvas.js' %}" type="text/javascript"></script>
</body>
</html>