{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{{ form.media.css }}

<style type="text/css">
select {
  width: 200px;
}
</style>


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
     $(document).ready(function() {
         
        $('#menu-adminstrativo').addClass('active');
        $('#menu-paciente').addClass('active');
        
      
      $( ":checkbox" ).each(function( index ) {
          $(this).prependTo($("#div_" + $(this).attr('id')))
        });
      
      
      
  });
</script>
<script src="{% static 'assets/cadastro/paciente.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Paciente</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Paciente</li>
        </ol>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Novo Paciente</h4>
                <div class="table-responsive m-t-40">
                    <form method="post">
                        {% load crispy_forms_tags %} 
                        {% csrf_token %} 
                        {{ form|crispy }}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  
  
 
  
</script>

{{ form.media.js }}


{% endblock content %}


