{% for paciente in pacientes %}
<tr> 
    <td>{{ paciente.nome }}</td>
    <td>{{ paciente.ativo|yesno:"Sim,Não" }}</td>
    <td>
        {% if not paciente.prospect and not paciente.cliente_servico %}
         Contrato
        {% else %}
            {% if paciente.prospect and paciente.cliente_servico %}
                Prospect/Serviço
            {% else %}
                {% if paciente.prospect %}
                    Prospect
                {% else %}
                    Serviço
                {% endif%}
            {% endif%}
        {% endif%}
    </td>
    <td><a href="{% url 'paciente_update' paciente.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-paciente' data-url="{% url 'paciente_delete' paciente.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}