{% extends "base.html" %} {% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/paciente.js' %}" type="text/javascript" charset="utf-8"></script>
<!--<script src="{% static 'assets/servicos/cliente_servico.js' %}" type="text/javascript" charset="utf-8"></script>-->
{% endblock %}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Lista de Pacientes</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Lista de Pacientes</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

            <div class="">
                <a href="{% url 'paciente_create' %}">
                <button type="button" class="btn btn-primary">
                  <span class="mdi text-white mdi-plus"></span>
                  Contrato
                </button>
                </a>
                <button type="button" class="btn btn-success js-create-prospect" data-url="{% url 'prospect_create' %}">
                  <span class="mdi text-white mdi-plus"></span>
                  Prospect
                </button>
                <button type="button" class="btn btn-danger js-create-cliente-servico" data-url="{% url 'cliente_servico_create' %}">
                  <span class="mdi text-white mdi-plus"></span>
                  Serviço
                </button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pacientes Cadastrados</h4>
                <div class="table-responsive m-t-40">
                <table cellpadding="0" cellspacing="0" border="0" id="paciente-table" class="display nowrap table table-hover table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ativo</th>
                            <th>Tipo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'paciente/lista_paciente_parcial.html' %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
        <!-- MODAL -->
        <div class="modal fade" id="modal-paciente">
            <div class="modal-dialog">
              <div class="modal-content">
        
              </div>
            </div>
          </div>


                        <!-- MODAL -->
        <div class="modal fade" id="modal-cliente-servico">
            <div class="modal-dialog">
              <div class="modal-content">

              </div>
            </div>
          </div>


    </div>
</div>


{% endblock content %}
