{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% load widget_tweaks %}

<div class="row page-titles">
    <div class="col-12 align-self-center">
        <h3 class="text-themecolor">Pesquisar Paciente:</h3>
        <form class="form-horizontal">
                
                <div class="form-group m-t-10 m-b-0">
                    <div class="input-group">
                        {% render_field filter.form.nome class="form-control" placeholder="Digite o nome" %}
                        <div class="input-group-append">
                            <button class="btn btn-info btn-input" type="submit">Pesquisar!</button>
                        </div>
                    </div>
               </div>
               
               
            </form>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

        </div>
    </div>
</div>


<div class="row infinite-container">
    {% for paciente in pacientes %}
    <div class="col-md-6 col-lg-3 infinite-item">
        <a href="{% url 'paciente_menu' paciente.id %}">
        <div class="card {% if paciente.cliente_servico %} card-inverse card-success {% else %} {% if paciente.ativo == False %} card-inverse card-info {% endif %} {% endif %}  ">
            <div class="card-body">
                {% if paciente.cliente_servico %}
                <span style="flex: 1; position: absolute; color: #FFF; font-size: 12px;">SERVIÇOS</span>
                {% endif %}
                {% if paciente.ativo == False and paciente.cliente_servico == False %}
                <span style="flex: 1; position: absolute; color: #FFF; font-size: 12px;">INATIVO</span>
                {% endif %}
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <img src="{% static 'images/user.png' %}" class="img-circle img-perfil" style="margin:0px" width="60">
                    </div>
                    <div class="col-12 m-t-10"  style="text-align: center">
                        <h4 class="mb-0 card-title">{{ paciente.nome }}</h4>
                        <span class="card-subtitle">{{ paciente.telefone }}</span>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>


<div class="loading" style="display: none;">
    Carregando aguarde...
  </div>

{% if pacientes.has_next %}
    <a class="infinite-more-link" href="?page={{ pacientes.next_page_number }}">More</a>
{% endif %}


{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/infinite.min.js' %}"></script>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}



{% endblock content %}
