{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{% load widget_tweaks %}

<style>
    .btn-menu-paciente {
        font-size: 30px;
    }

    button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
</style>


{% include 'base/paciente_header.html' %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avaliações</h4>
                <div class="m-t-40">
                    <div class="row">
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'avaliacao_fisica_list' paciente.id %}">
                                <div class="card card-inverse card-primary">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-human-handsup"></i>
                                        <h3 class="text-white">Físicas</h3>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'avaliacao_clinica_list' paciente.id %}">
                                <div class="card card-inverse card-primary">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-pulse"></i>
                                        <h3 class="text-white">Clínicas</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'avaliacao_postural_list' paciente.id %}">
                                <div class="card card-inverse card-primary">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-human"></i>
                                        <h3 class="text-white">Posturais</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'prereavaliacao_list' paciente.id %}">
                                <div class="card card-inverse card-primary">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-file-outline"></i>
                                        <h3 class="text-white">Prereavaliações</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'avaliacao_nutricional_list' paciente.id %}">
                                <div class="card card-inverse card-primary">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-food-fork-drink"></i>
                                        <h3 class="text-white">Nutricional</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'teste_caminhada6_list' paciente.id %}">
                                <div class="card card-inverse card-primary">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-run"></i>
                                        <h3 class="text-white">Teste Caminhada</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Relatórios</h4>
                <div class="m-t-40">
                    <div class="row">
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'paciente_dashboard' paciente.id %}">
                                <div class="card card-inverse card-primary ">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-chart-line"></i>
                                        <h3 class="text-white">Avaliação Física</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'controle_aula_dashboard' paciente.id %}">
                                <div class="card card-inverse card-primary ">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-chart-line"></i>
                                        <h3 class="text-white">Aulas</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'gerar_laudo' paciente.id %}">
                                <div class="card card-inverse card-primary ">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-chart-line"></i>
                                        <h3 class="text-white">Laudo</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'paciente_controle_aula' paciente.id %}">
                                <div class="card card-inverse card-primary ">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-chart-line"></i>
                                        <h3 class="text-white">Presenças</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-xlg-2">
                            <a href="{% url 'laudo_preparticipacao_listar' paciente.id %}">
                                <div class="card card-inverse card-primary ">
                                    <div class="box text-center btn btn-primary">
                                        <i class="btn-menu-paciente mdi mdi-chart-line"></i>
                                        <h3 class="text-white">Pré-Participação</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>

<script>
$(document).ready(function($){
    $('#menu-pacientes').addClass('active');
});
</script>

{% endblock %}


{% endblock content %}
