<form method="post" action="{% url 'paciente_delete' paciente.id %}" class="js-paciente-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Deletar Paciente</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Tem certeza que deseja deletar o paciente <strong>{{ paciente.nome }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </div>
</form>