{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}


{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/avaliacao-clinica.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/avaliacao-postural.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/teste-caminhada6.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/avaliacao_fisica/avaliacao-fisica.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/avaliacao_fisica/table-avaliacao-fisica.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/cadastro/prereavaliacao.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'assets/js/jquery.mask.min.js' %}" type="text/javascript"></script>


<script type="text/javascript">

    function calculaIdadeX(dateString) {
      var aniversario = +new Date(dateString);
      return ~~((Date.now() - aniversario) / (31557600000));
    }

    $(document).ready(function($){
        
        $('#menu-pacientes').addClass('active');
        
        $('#nav-avaliacao-clinica').addClass('active');
        
        $('#menu-pacientes').addClass('active');
        
        $(".pressao-arterial").mask("000x000");
        
        $('#id_info_nascimento').text($('#id_idade').val());
        
        var delay = 10;
        var offset = 150;
        
        
        document.addEventListener('invalid', function(e){
           $(e.target).addClass("invalid");
           $('html, body').animate({scrollTop: $($(".invalid")[0]).offset().top - offset }, delay);
        }, true);
        document.addEventListener('change', function(e){
           $(e.target).removeClass("invalid")
        }, true);
    
    });

    
</script>


{% endblock %}

<style>
    
.nav {
    flex-wrap: wrap !important;    
}

.table {
    width: 100% !important;
}
    
</style>



<div class="row page-titles">
   
    <div class="col-md-5 col-8 align-self-center">
         
        <div class="d-flex">
            <div class="align-self-center">
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="{% static 'images/user.png' %}" alt="user"> </div>
                   
                    
                </div>
            </div>
             <!-- User profile text-->
            <div class="profile-text align-self-center m-l-20">
                 
                <h6>Paciente:</h6>
                <h4>
                    <strong>{{ paciente.nome }}</strong>
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        
            <a href="{% url 'paciente_list_card' %}">
                <button type="button" class="btn btn-primary pull-right">
                  <span class="mdi text-white mdi-plus"></span>
                  Trocar
                </button>
            </a>
    </div>
    
    <div class="col-md-12">
        <ul class="nav nav-tabs profile-tab nav-tabs-gua" role="tablist">
            <li class="nav-item"> <a id="nav-tab-info" class="nav-link {% if tab == 'info' %}active{% endif %}" data-toggle="tab" href="#info" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Geral</span></a> </li>
            <li class="nav-item"> <a id="nav-tab-avaliacaofisica" class="nav-link {% if tab == 'fisica' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaofisica" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Avaliação Física</span></a> </li>
            <li class="nav-item"> <a class="nav-link {% if tab == 'clinica' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaoclinica" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Avaliação Clínica</span></a> </li>
            <li class="nav-item"> <a class="nav-link {% if tab == 'postural' %}active{% endif %}" data-toggle="tab" href="#tab-avaliacaopostural" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Avaliação Postural</span></a> </li>
            <li class="nav-item "> <a class="nav-link {% if tab == 'prereavaliacao' %}active{% endif %}" data-toggle="tab" href="#tab-prereavaliacao" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Pré Reavaliação</span></a> </li>
            <li class="nav-item "> <a class="nav-link {% if tab == 'caminhada' %}active{% endif %}" data-toggle="tab" href="#tab-testecaminhada6" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Teste Caminhada</span></a> </li>
            {% if debug %}
            <li class="nav-item "> <a class="nav-link {% if tab == 'exame' %}active{% endif %}" data-toggle="tab" href="#tab-exame" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Exames</span></a> </li>
            {% endif %}
        </ul>
    </div>
    
</div>

<div class="tab-content">
            
    {% include 'paciente/paciente_informacoes.html' %}
    
    {% include 'avaliacaofisica/lista_avaliacao_fisica.html' %}
    
    {% include 'avaliacaoclinica/lista_avaliacao_clinica.html' %}
  
    {% include 'prereavaliacao/lista_prereavaliacao.html' %}
    
    {% include 'avaliacaopostural/lista_avaliacao_postural.html' %}
    
    {% include 'teste_caminhada6/lista_teste_caminhada.html' %}

</div>


{% endblock content %}