<div class="tab-pane {% if tab == 'info' %}active{% endif %}" id="info" role="tabpanel">

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Informações</h4>
                <hr>
                <div class=" m-t-40 row ">
                    
                    
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Matricula:</label>
                            <br>
                            {{ paciente.matricula }}
                        </div>
                        
                        
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Idade:</label>
                            <p id="id_info_nascimento" class="meu-input"></p>
                        </div>
                        
                        
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Data Nascimento:</label>
                            <br>
                            {{ paciente.data_nascimento|date:"d/m/Y" }}
                        </div>
                        
                        
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Telefone:</label>
                            <br>
                            {{ paciente.telefone }}
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Telefone Emergência:</label>
                            <br>
                            {{ paciente.telefone_emergencia }}
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Plano:</label>
                            <br>
                            {% for plan in paciente.plano.all %}
                               <li>{{ plan.nome }}</li>
                            {% empty %}
                                <li>Nenhum plano cadastrado</li>
                            {% endfor %}
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Hospital:</label>
                            <br>
                             {% for hosp in paciente.hospital.all %}
                               <li>{{ hosp.nome }}</li>
                             {% empty %}
                                <li>Nenhum hospital cadastrado</li>
                             {% endfor %}
                        </div>
                        
                         <div class="form-group col-md-4">
                            <label class="label-paciente">Convênio Médico:</label>
                            <br>
                            {% for conv in paciente.convenio_medico.all %}
                               <li>{{ conv.nome }}</li>
                            {% empty %}
                                <li>Nenhum convênio cadastrado</li>
                            {% endfor %}
                        </div>
                        
                         
                        <div class="form-group col-md-4">
                            <label class="label-paciente">Médico Assistente:</label>
                            <br>
                            {% for med in paciente.medico_assistente.all %}
                               <li>{{ med.nome }} - {{ med.telefone }}</li>
                            {% empty %}
                                <li>Nenhum médico assistente</li>
                            {% endfor %}
                        </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>

</div>