{% for empresa in empresas %}
<tr> 
    <td>{{ empresa.nome }}</td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-empresa' data-url="{% url 'empresa_update' empresa.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-empresa' data-url="{% url 'empresa_delete' empresa.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}