{% extends "avaliacaopostural/base_avaliacaopostural.html" %}

{% block content_avaliacao_postural %}

<div class="tab-pane {% if tab == 'postural' %}active{% endif %}" id="tab-avaliacaopostural" role="tabpanel">
    <div class="row m-b-20">
        <div class="col-md-7 col-4 offset-md-5 offset-8 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item"> <a href="#tab-list-avaliacaopostural" class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-avaliacaopostural' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Histórico</a> </li>
                    <li class=" nav-item"> <a href="#tab-form-avaliacaopostural" class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-avaliacaopostural' %}active{% endif %}" data-toggle="tab" aria-expanded="false">+ Nova</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        {% include 'avaliacaopostural/tabela_avaliacao_postural.html' %}

        {% include 'avaliacaopostural/avaliacao_postural_form.html' %}

    </div>
</div>

{% endblock content_avaliacao_postural %}