{% for avaliacao_postural in avaliacoes_postural %}
<tr>
    <td>{{ avaliacao_postural.id }}</td> 
    <td>{{ avaliacao_postural.data|date:"d/m/Y" }}</td>
    <td>{{ avaliacao_postural.usuario.get_full_name }}</td>
    <td><button type='button' class='btn btn-primary btn-sm js-update-avaliacao-postural' data-url="{% url 'avaliacao_postural_visualizar' avaliacao_postural.id %}"> <span class='fa fa-search' aria-hidden='true'></span> Visualizar</button></td>
    <td><a href="{% url 'avaliacao_postural_update' avaliacao_postural.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
   <td><button type='button' class='btn btn-danger btn-sm js-delete-avaliacao-postural' data-url="{% url 'avaliacao_postural_delete' avaliacao_postural.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}