<div class="row m-b-20">
    <div class="col-md-7 col-4 offset-md-5 offset-8 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item"> <a href="#tab-list-avaliacaopostural" class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-avaliacaopostural' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Histórico</a> </li>
                <li class=" nav-item"> <a href="{% url 'avaliacao_postural_create' paciente.id %}" class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-avaliacaopostural' %}active{% endif %}">+ Nova</a> </li>
            </ul>
        </div>
    </div>
</div>