{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<h4 class="modal-title">Detalhes da Avaliação Postural</h4>
</div>
<div class="modal-body">
    

{% csrf_token %} 

<div class="row">
  
      <div class="col-md-12">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Nova Avaliação Postural</strong></h3>
                <h5 class="card-subtitle"><strong>Anterior</strong></h5>
                <div class="form-body">
                
                   <div class="row p-t-20">
                        
                            <div class="col-md-6">
                                    {{ form_postural.rot_lat_cerv_direita }}
                                <label for="id_rot_lat_cerv_direita" class="form-check-label">
                                    Rotação Lateral Cervical Direita
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.joelho_valgo }}
                                <label for="id_joelho_valgo" class="form-check-label">
                                    Joelho Valgo
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.pe_aduto }}
                                <label for="id_pe_aduto" class="form-check-label">
                                    Pé Aduto D/E
                                </label>
                            </div>
                            
                            
                            
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.rot_lat_cerv_esquerda }}
                                <label for="id_rot_lat_cerv_esquerda" class="form-check-label">
                                    Rotação Lateral Cervical Esquerda
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.rot_int_joelho }}
                                <label for="id_rot_int_joelho" class="form-check-label">
                                    Rotação Interna de Joelho D/E
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.pe_abduto }}
                                <label for="id_pe_abduto" class="form-check-label">
                                    Pé Abduto D/E
                                </label>
                            </div>
                            
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.inc_lat_cerv_direita }}
                                <label for="id_inc_lat_cerv_direita" class="form-check-label">
                                    Inclinação Lateral Cervical Direita
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.rot_ext_joelho }}
                                <label for="id_rot_ext_joelho" class="form-check-label">
                                    Rotação Externa de Joelho D/E
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.desalinhamento }}
                                <label for="id_desalinhamento" class="form-check-label">
                                    Desalinhamento dos maléolos internos
                                </label>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.inc_lat_cerv_esquerda }}
                                <label for="id_inc_lat_cerv_esquerda" class="form-check-label">
                                    Inclinação Lateral Cervical Esquerda
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.pe_eversao }}
                                <label for="id_pe_eversao" class="form-check-label">
                                    Pé em Eversão D/E
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.pe_equino }}
                                <label for="id_pe_equino" class="form-check-label">
                                    Pé equino
                                </label>
                            </div>
                            
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.elev_ombro_direito }}
                                <label for="id_elev_ombro_direito" class="form-check-label">
                                    Elevação do Ombro Direito
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.pe_inversao }}
                                <label for="id_pe_inversao" class="form-check-label">
                                    Pé em Inversão D/E
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.aparentemente_saudavel_ant }}
                                <label for="id_aparentemente_saudavel_ant" class="form-check-label">
                                    Aparentemente Saudável
                                </label>
                            </div>
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.elev_ombro_esquerdo }}
                                <label for="id_elev_ombro_esquerdo" class="form-check-label">
                                    Elevação do Ombro Esquerdo
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.elev_quadril_esquerdo }}
                                <label for="id_elev_quadril_esquerdo" class="form-check-label">
                                    Elevação do quadril esquerdo
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.elev_quadril_direito }}
                                <label for="id_elev_quadril_direito" class="form-check-label">
                                    Elevação do quadril direito
                                </label>
                            </div>
                            
                            
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.rot_med_punho_esquerdo }}
                                <label for="id_rot_med_punho_esquerdo" class="form-check-label">
                                    Rotação medial Punho Esquerdo
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.desalinhamento_mamilos }}
                                <label for="id_desalinhamento_mamilos" class="form-check-label">
                                    Desalinhamento de Mamilos ou Peitoral
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.desequilibrio_quadril }}
                                <label for="id_desequilibrio_quadril" class="form-check-label">
                                    Desequilibrio de Quadril
                                </label>
                            </div>
                            
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.rot_med_punho_direito }}
                                <label for="id_rot_med_punho_direito" class="form-check-label">
                                    Rotação Medial Punho Direito
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.assimetria_membro_inferior }}
                                <label for="id_assimetria_membro_inferior" class="form-check-label">
                                    Assimetria de Membro Inferior
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.joelho_varo }}
                                <label for="id_joelho_varo" class="form-check-label">
                                    Joelho Varo
                                </label>
                            </div>
                            
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
  
      <div class="col-md-12">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle"><strong>Lateral Esquerda</strong></h5>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                            <div class="col-md-6">
                                    {{ form_postural.le_hiperlordose_cervical }}
                                <label for="id_le_hiperlordose_cervical" class="form-check-label">
                                    Hiperlordose Cervical
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_hipercifose_toracica }}
                                <label for="id_le_hipercifose_toracica" class="form-check-label">
                                    Hipercifose Torácica
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_hiperlordose_lombar }}
                                <label for="id_le_hiperlordose_lombar" class="form-check-label">
                                    Hiperlordose Lombar
                                </label>
                            </div>
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_costa_plana }}
                                <label for="id_le_costa_plana" class="form-check-label">
                                    Costa Plana
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_geno_recurvato }}
                                <label for="id_le_geno_recurvato" class="form-check-label">
                                    Geno Recurvato
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_geno_flexo }}
                                <label for="id_le_geno_flexo" class="form-check-label">
                                    Geno Flexo
                                </label>
                            </div>
                    
                            <div class="col-md-6">
                                    {{ form_postural.le_atituto_cifotica_torax }}
                                <label for="id_le_atituto_cifotica_torax" class="form-check-label">
                                    Atitude Cifótica Torácica
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_lordose_lombar }}
                                <label for="id_le_lordose_lombar" class="form-check-label">
                                    Lordose Lombar
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_aparentemente_saudavel_lat }}
                                <label for="id_le_aparentemente_saudavel_lat" class="form-check-label">
                                    Aparentemente Saudável
                                </label>
                            </div>
                            
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_ombros_protusos }}
                                <label for="id_le_ombros_protusos" class="form-check-label">
                                    Ombros Protusos
                                </label>
                            </div>
                            
                            <div class="col-md-6">
                                    {{ form_postural.le_rot_int_ombros }}
                                <label for="id_le_rot_int_ombros" class="form-check-label">
                                    Rotação Interna de Ombros
                                </label>
                            </div>
                            
    
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
  
  <div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle"><strong>Lateral Direita</strong></h5>
            <div class="form-body">

                 <div class="row p-t-20">
                    
                        <div class="col-md-6">
                                {{ form_postural.ld_hiperlordose_cervical }}
                            <label for="id_ld_hiperlordose_cervical" class="form-check-label">
                                Hiperlordose Cervical
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_hipercifose_toracica }}
                            <label for="id_ld_hipercifose_toracica" class="form-check-label">
                                Hipercifose Torácica
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_hiperlordose_lombar }}
                            <label for="id_ld_hiperlordose_lombar" class="form-check-label">
                                Hiperlordose Lombar
                            </label>
                        </div>
                        
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_costa_plana }}
                            <label for="id_ld_costa_plana" class="form-check-label">
                                Costa Plana
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_geno_recurvato }}
                            <label for="id_ld_geno_recurvato" class="form-check-label">
                                Geno Recurvato
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_geno_flexo }}
                            <label for="id_ld_geno_flexo" class="form-check-label">
                                Geno Flexo
                            </label>
                        </div>
                
                        <div class="col-md-6">
                                {{ form_postural.ld_atituto_cifotica_torax }}
                            <label for="id_ld_atituto_cifotica_torax" class="form-check-label">
                                Atitude Cifótica Torácica
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_lordose_lombar }}
                            <label for="id_ld_lordose_lombar" class="form-check-label">
                                Lordose Lombar
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_aparentemente_saudavel_lat }}
                            <label for="id_ld_aparentemente_saudavel_lat" class="form-check-label">
                                Aparentemente Saudável
                            </label>
                        </div>
                        
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_ombros_protusos }}
                            <label for="id_ld_ombros_protusos" class="form-check-label">
                                Ombros Protusos
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.ld_rot_int_ombros }}
                            <label for="id_ld_rot_int_ombros" class="form-check-label">
                                Rotação Interna de Ombros
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
  
  <div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle"><strong>Posterior</strong></h5>
                <div class="form-body">

                    <div class="row p-t-20">
                    

                        
                        <div class="col-md-6">
                                {{ form_postural.escoliose_cervical }}
                            <label for="id_escoliose_cervical" class="form-check-label">
                                Escoliose Cervical
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.escoliose_toracica }}
                            <label for="id_escoliose_toracica" class="form-check-label">
                                Escoliose Torácica
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.escoliose_lombar }}
                            <label for="id_escoliose_lombar" class="form-check-label">
                                Escoliose Lombar
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.desalinhamento_escapula }}
                            <label for="id_desalinhamento_escapula" class="form-check-label">
                                Desalinhamento de Escápulas
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.escapulas_abduzidas }}
                            <label for="id_escapulas_abduzidas" class="form-check-label">
                                Escápulas Abduzidas
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.escapulas_aduzidas }}
                            <label for="id_escapulas_aduzidas" class="form-check-label">
                                Escápulas Aduzidas
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.desalinhamento_dobra_axilar }}
                            <label for="id_desalinhamento_dobra_axilar" class="form-check-label">
                                Desalinhamento de Dobra Axilar
                            </label>
                        </div>
                        
                        
                        <div class="col-md-6">
                                {{ form_postural.desalinhamento_quadril }}
                            <label for="id_desalinhamento_quadril" class="form-check-label">
                                Desalinhamento de Quadril
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.dobra_poplitea }}
                            <label for="id_dobra_poplitea" class="form-check-label">
                                Dobra Popilítea Desalinhada
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.rot_med_punhos }}
                            <label for="id_rot_med_punhos" class="form-check-label">
                                Rotação Medial de Punhos
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.aparentemente_saudavel_post }}
                            <label for="id_aparentemente_saudavel_post" class="form-check-label">
                                Aparentemente Saudável
                            </label>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
  
  <div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle"><strong>Flexão Anterior</strong></h5>
                <div class="form-body">

                    <div class="row p-t-20">
                
                        
                        <div class="col-md-6">
                                {{ form_postural.fa_escoliose_cervical }}
                            <label for="id_fa_escoliose_cervical" class="form-check-label">
                                Escoliose Cervical
                            </label>
                        </div>
                        
                        <div class="col-md-6">
                                {{ form_postural.fa_escoliose_toracica }}
                            <label for="id_fa_escoliose_toracica" class="form-check-label">
                                Escoliose Torácica
                            </label>
                        </div>
                        
                        
                        <div class="col-md-6">
                                {{ form_postural.fa_escoliose_lombar }}
                            <label for="id_fa_escoliose_lombar" class="form-check-label">
                                Escoliose Lombar
                            </label>
                        </div>
                        
                        
                        <div class="col-md-6">
                                {{ form_postural.fa_desalinhamento_escapula }}
                            <label for="id_fa_desalinhamento_escapula" class="form-check-label">
                                Desalinhamento de Escápulas
                            </label>
                        </div>
                        
                        
                        <div class="col-md-6">
                                {{ form_postural.fa_aparentemente_saudavel_post }}
                            <label for="id_fa_aparentemente_saudavel_post" class="form-check-label">
                                Escoliose Cervical
                            </label>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>
