{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% csrf_token %}

<style>

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

</style>

{{ form.nome|as_crispy_field  }}

<div class="form-group">
    {{ form.frequencia.label_tag }}
    <div class="input-group">
        {% render_field form.frequencia class="form-control" %}
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">X Semana</span>
        </div>
    </div>
</div>

<div class="form-group">
    {{ form.periodo_total.label_tag }}
    <div class="input-group">
        {% render_field form.periodo_total class="form-control" %}
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">Dias</span>
        </div>
    </div>
</div>

<div class="form-group">
    {{ form.suspensao.label_tag }}
    <div class="input-group">
        {% render_field form.suspensao class="form-control" %}
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">Dias</span>
        </div>
    </div>
</div>


<div class="form-group">
    {{ form.periodo_avaliacao_fisica.label_tag }}
    <div class="input-group">
        {% render_field form.periodo_avaliacao_fisica class="form-control" %}
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">Dias</span>
        </div>
    </div>
</div>


<div class="form-group">
    {{ form.periodo_avaliacao_clinica.label_tag }}
    <div class="input-group">
        {% render_field form.periodo_avaliacao_clinica class="form-control" %}
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1">Dias</span>
        </div>
    </div>
</div>


