{% for plano in planos %}
<tr> 
    <td>{{ plano.nome }}</td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-plano' data-url="{% url 'plano_update' plano.id %}"> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-plano' data-url="{% url 'plano_delete' plano.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}