<form method="post" action="{% url 'prospect_update' form.instance.pk %}" class="js-prospect-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Atualizar Prospect</h4>
  </div>
  <div class="modal-body">
    {% include 'prospect/cria_prospect_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </div>
</form>