{% for prospect in prospects %}
<tr> 
    <td>{{ prospect.nome }}</td>
    <td><a href="{% url 'paciente_update' prospect.id %}"><button type='button' class='btn btn-success btn-sm'> <span class='fa fa-plus' aria-hidden='true'></span> Completar</button></a></td>
    <td><a href="{% url 'prospect_update' prospect.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><button type='button' class='btn btn-danger btn-sm js-delete-prospect' data-url="{% url 'prospect_delete' prospect.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}