{% extends "base.html" %}

{% block content %}

{% load staticfiles %}



{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/cadastro/prospect.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
    $(document).ready(function() {
        
        $('#menu-prospects').addClass('active');
        
    });
</script>

{% endblock %}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Lista de Prospects</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Lista de Prospects</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">

            <div class="">
                <a href="{% url 'prospect_create' %}">
                <button type="button" class="btn btn-primary">
                  <span class="mdi text-white mdi-plus"></span>
                  Novo
                </button>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Prospects Cadastrados</h4>
                <div class="table-responsive m-t-40">
                <table cellpadding="0" cellspacing="0" border="0" id="prospect-table" class="display nowrap table table-hover table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'prospect/lista_prospect_parcial.html' %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
        <!-- MODAL -->
        <div class="modal fade" id="modal-prospect">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>


    </div>
</div>


{% endblock content %}
