{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Instituto Habilitar</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-js/dist/chartist-init.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css' %}" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="{% static 'assets/plugins/c3-master/c3.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'assets/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border mini-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar is_stuck">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            
                            <!-- Light Logo icon -->
                            <!--<img src="{% static 'assets/images/logo-light-icon.png' %}" alt="homepage" class="light-logo" />-->
                            <span id="logo-ih">Instituto</span><span id="logo-ih2">Habilitar</span>
     
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <!--<span>-->
                         </a>
                         <!-- Light Logo text -->    
                         <!--<img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>-->
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                       
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bem vindo, {{ request.user.first_name }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
 
       
        <aside class="left-sidebar" >
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" >

                    
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav active">
                    <ul id="sidebarnav" class="in">
                        {% if request.user.is_staff %}
                        <li class="nav-small-cap">ADMINSTRATIVO</li>
                        <li id="menu-dashboard"> 
                            <a class="waves-effect waves-dark" href="{% url 'dashboard' %}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li id="menu-adminstrativo">
                            <a class="waves-effect waves-dark has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-library-plus"></i><span class="hide-menu">Cadastros</span></a>
                            <ul aria-expanded="false"  >
                                <li><a href="{% url 'paciente_list' %}"id="menu-paciente">Pacientes</a></li>
                                <li><a href="{% url 'medico_list' %}" id="menu-medico">Médicos</a></li>
                                <li><a href="{% url 'plano_list' %}" id="menu-reabilitacao">Programa de Reabilitação</a></li>
                                <li><a href="{% url 'convenio_list' %}" id="menu-plano">Plano de saúde</a></li>
                                <li><a href="{% url 'hospital_list' %}" id="menu-hospital">Hospitais</a></li>
                                <li><a href="{% url 'empresa_list' %}" id="menu-empresa">Empresas</a></li>
                            </ul>
                        </li>
                        <li id="menu-configuracoes">
                            <a class="waves-effect waves-dark has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-tune"></i><span class="hide-menu">Configurações</span></a>
                            <ul aria-expanded="false"  >
                                <li><a href="{% url 'template_laudo' %}"id="menu-paciente">Texto Laudo</a></li>
                                <li><a href="{% url 'parametros' %}" id="menu-medico">Prazos Agendamento</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-small-cap">PACIENTES</li>
                        <li id="menu-pacientes">
                            <a class="waves-effect waves-dark" href="{% url 'paciente_list_card' %}" aria-expanded="false"><i class="mdi mdi-account-switch"></i><span class="hide-menu">Pacientes</span></a>
                        </li>
                        <li id="menu-aulas"> 
                            <a class="waves-effect waves-dark" href="{% url 'aula_list' %}" aria-expanded="false"><i class="mdi mdi-book-multiple"></i><span class="hide-menu">Aulas</span></a>
                        </li>
                        <li id="menu-serviços">
                            <a class="waves-effect waves-dark {{ menu_servicos }}" href="{% url 'paciente_list_servicos' %}" aria-expanded="false"><i class="mdi mdi-account-switch"></i><span class="hide-menu">Clientes</span></a>
                        </li>
                    </ul>

                </nav>
                
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <!-- item--><a href="{% url 'logout' %}" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                
                <!--<div class="preloader">-->
                <!--    <svg class="circular" viewBox="25 25 50 50">-->
                <!--        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>-->
                <!--</div>-->
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                
                <!--Navegacao-->
                <!--<div class="row page-titles">-->
                <!--    <div class="col-md-5 col-8 align-self-center">-->
                <!--        <h3 class="text-themecolor">Dashboard</h3>-->
                <!--        <ol class="breadcrumb">-->
                <!--            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>-->
                <!--            <li class="breadcrumb-item active">Dashboard</li>-->
                <!--        </ol>-->
                <!--    </div>-->

                <!--</div>-->
                
                
                
                
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                {% block content %}

                {% endblock content %}
                
                
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2018 FireDev - Ahlan Guarnier </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/js/tether.min.js' %}"></script>
    
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'assets/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/plugins/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'assets/js/custom.min.js' %}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="{% static 'assets/plugins/chartist-js/dist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 JavaScript -->
    <script src="{% static 'assets/plugins/d3/d3.min.js' %}"></script>
    <script src="{% static 'assets/plugins/c3-master/c3.min.js' %}"></script>
    <!-- Chart JS -->
    <script src="{% static 'assets/plugins/chart.js/Chart.js' %}"></script>
    <script src="{% static 'assets/js/dashboard1.js' %}"></script>
    
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}" type="text/javascript"></script>

    <script>
     $(document).ready(function() {
         
      $( ":checkbox" ).each(function( index ) {
          $(this).prependTo($("#div_" + $(this).attr('id')))
        });
      
     });
</script>

    
</body>

</html>
