{% block content %}

{% load staticfiles %}

{{ form_clinica.media.css }}

{% load crispy_forms_tags %}


<style type="text/css">
select {
  width: 200px;
}
</style>

{% block scripts %}
<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>

<script type="text/javascript">

$(document).ready(function(){

    var valueDate = document.getElementById('data_clinica').value;

    console.log('data' + valueDate);
    if ( valueDate == null || valueDate== '')
    {
        document.getElementById('data_clinica').valueAsDate = new Date();
    }

    $('#btn-te').click(function(event){
        event.preventDefault();
        $('#card-te').toggleClass('d-none');
    });
    
    $('#btn-tcp').click(function(event){
        event.preventDefault();
        $('#card-tcp').toggleClass('d-none');
    });
    
    
    $('#btn-bioquimicos').click(function(event){
        event.preventDefault();
        $('#card-bioquimicos').toggleClass('d-none');
    });

    // botao de 15 dias
    $('#btn-15').click(function(event){
        event.preventDefault();
        $('#id_data_entrega').val();

        alert($('#id_data_entrega').val());

        data_entrega = new Date();
        data_entrega.setDate(data_entrega.getDate() + 15)

        $('#id_data_entrega').val(data_entrega.toISOString().split('T')[0]);

    });


    $('#btn-30').click(function(event){
        event.preventDefault();
        $('#id_data_entrega').val();

        data_entrega = new Date();
        data_entrega.setDate(data_entrega.getDate() + 30)

        $('#id_data_entrega').val(data_entrega.toISOString().split('T')[0]);
    });


    $('#btn-45').click(function(event){
        event.preventDefault();
        $('#id_data_entrega').val();

        data_entrega = new Date();
        data_entrega.setDate(data_entrega.getDate() + 45)

        $('#id_data_entrega').val(data_entrega.toISOString().split('T')[0]);
    });


    $('#btn-60').click(function(event){
        event.preventDefault();
        $('#id_data_entrega').val();

        data_entrega = new Date();
        data_entrega.setDate(data_entrega.getDate() + 60)

        $('#id_data_entrega').val(data_entrega.toISOString().split('T')[0]);
    });

});


$(function(){

    $("form :input").change(function() {
      $("form").submit();
    });

    $("form").submit(function(e){
        e.preventDefault();
        url = $(this).attr('action');
        data = $(this).serialize();
        $.post(url, data, function(response){
           console.log("Formulário salvo automaticamente...");
        })
    });
});


 window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>
{% endblock %}

<style>
    .switch label .lever.validacao:after {
        background-color: #f31414;
    }


</style>

<div class="tab-pane {% if subtab == 'formulario-avaliacaoclinica' %}active{% endif %}" id="tab-form-avaliacaoclinica"
     role="tabpanel">


    <form method="post" action="{% url 'avaliacao_clinica_update' form_clinica.instance.pk %}" id="event">

            {% if form_clinica.non_field_errors %}
            <ul>
                {% for error in form_clinica.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% for hidden_field in form_clinica.hidden_fields %}
            {% if hidden_field.errors %}
            <ul>
                {% for error in hidden_field.errors %}
                <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {{ hidden_field }}
            {% endfor %}

            {% csrf_token %}


            <!--Nova Avaliação Clínica-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-body">
                                <h3 class="card-title"><strong>Nova Avaliação Clínica</strong></h3>
                                <hr>
                                <div class="row ">

                                    <div class="form-group col-md-4 ">
                                        <label><strong>Data:</strong></label>
                                        {{ form_clinica.data }}

                                    </div>

                                    <div class="form-group col-md-4 ">
                                        {{ form_clinica.plano.errors }}
                                        <label for="{{ form_clinica.plano.id_plano }}">Programa Proposto</label>
                                        {{ form_clinica.plano }}
                                    </div>

                                    <div class="form-group col-md-4"
                                         style="{% if request.user.is_staff == false %} display:none {% endif %}">
                                        {{ form_clinica.usuario.errors }}
                                        <label for="{{ form_clinica.usuario.id_usuario }}">Medico</label>
                                        {{ form_clinica.usuario }}
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!--Histórico-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Histórico</strong></h3>
                            <hr>
                            <div class="form-body">

                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        {{ form_clinica.coracao }}
                                        <label for="id_coracao" class="form-check-label">
                                            Ataque Cardíaco
                                        </label>

                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        {{ form_clinica.cirurgia_cardiaca }}
                                        <label for="id_cirurgia_cardiaca" class="form-check-label">
                                            Cirurgia Cardíaca
                                        </label>
                                    </div>
                                    <!--/span-->
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        {{ form_clinica.caterizacao_cardiaca }}
                                        <label for="id_caterizacao_cardiaca" class="form-check-label">
                                            Cateterização Cardíaca
                                        </label>

                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        {{ form_clinica.angioplastia_coronariana }}
                                        <label for="id_angioplastia_coronariana" class="form-check-label">
                                            Angioplastia Coronariana
                                        </label>
                                    </div>
                                    <!--/span-->
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        {{ form_clinica.marcapasso_cardiaco }}
                                        <label for="id_marcapasso_cardiaco" class="form-check-label">
                                            Marcapasso Cardíaco
                                        </label>


                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        {{ form_clinica.disturbio_ritmo }}
                                        <label for="id_disturbio_ritmo" class="form-check-label">
                                            Distúrbio Ritmo (Arritmia)
                                        </label>
                                    </div>
                                    <!--/span-->
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        {{ form_clinica.doenca_valvular_cardiaca }}
                                        <label for="id_doenca_valvular_cardiaca" class="form-check-label">
                                            Doença Valvular Cardíaca
                                        </label>


                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        {{ form_clinica.insuficiencia_cardiaca }}
                                        <label for="id_insuficiencia_cardiaca" class="form-check-label">
                                            Insuficiência Cardíaca
                                        </label>
                                    </div>
                                    <!--/span-->
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        {{ form_clinica.transplante_coracao }}
                                        <label for="id_transplante_coracao" class="form-check-label">
                                            Transplante Coração
                                        </label>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        {{ form_clinica.cardiaca_congenita }}
                                        <label for="id_cardiaca_congenita" class="form-check-label">
                                            Doença Cardíaca Congênita
                                        </label>
                                    </div>
                                    <!--/span-->
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        {{ form_clinica.exercicio_regular }}
                                        <label for="id_exercicio_regular" class="form-check-label">
                                            Exercícios Regulares
                                        </label>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Histórico
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Antecedentes Morbidos-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Antecedentes Morbidos</strong></h3>
                            <hr>
                            <div class="form-body">

                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        {{ form_clinica.ataque_cardiaco }}
                                        <label for="id_ataque_cardiaco" class="form-check-label">
                                            Ataque Cardíaco
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.luxacoes }}
                                        <label for="id_luxacoes" class="form-check-label">
                                            Luxações
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.artrite_pernas_bracos }}
                                        <label for="id_artrite_pernas_bracos" class="form-check-label">
                                            Artrite Pernas/Braços
                                        </label>

                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        {{ form_clinica.desmaios }}
                                        <label for="id_desmaios" class="form-check-label">
                                            Desmaios
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.asma }}
                                        <label for="id_asma" class="form-check-label">
                                            Asma
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.febre_reumatica }}
                                        <label for="id_febre_reumatica" class="form-check-label">
                                            Febre Reumática
                                        </label>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        {{ form_clinica.arteriosclerose }}
                                        <label for="id_arteriosclerose" class="form-check-label">
                                            Arteriosclerose
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.bronquite }}
                                        <label for="id_bronquite" class="form-check-label">
                                            Bronquite
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.epilepsia }}
                                        <label for="id_epilepsia" class="form-check-label">
                                            Epilepsia
                                        </label>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        {{ form_clinica.anemia }}
                                        <label for="id_anemia" class="form-check-label">
                                            Anemia
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_clinica.sopro_cardiaco }}
                                        <label for="id_sopro_cardiaco" class="form-check-label">
                                            Sopro Cardíaco
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        {{ form_clinica.veias_varicosas }}
                                        <label for="id_veias_varicosas" class="form-check-label">
                                            Veias Varicosas
                                        </label>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        {{ form_clinica.tonteira }}
                                        <label for="id_tonteira" class="form-check-label">
                                            Tonteira
                                        </label>
                                    </div>


                                    <div class="col-md-4">
                                        {{ form_clinica.acidente_cerebral }}
                                        <label for="id_acidente_cerebral" class="form-check-label">
                                            Acidente Cerebral
                                        </label>
                                    </div>


                                    <div class="col-md-4">
                                        {{ form_clinica.tireoide }}
                                        <label for="id_tireoide" class="form-check-label">
                                            Tireóide
                                        </label>
                                    </div>
                                </div>


                                <div class="row p-t-20">
                                    <div class="col-md-4">
                                        {{ form_clinica.pneumonia }}
                                        <label for="id_pneumonia" class="form-check-label">
                                            Pneumonia
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.problema_nervoso_emocional }}
                                        <label for="id_problema_nervoso_emocional" class="form-check-label">
                                            Problema Nervoso Emocial
                                        </label>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_clinica.anormalidades_radiograficas_torax }}
                                        <label for="id_anormalidades_radiograficas_torax" class="form-check-label">
                                            Anormalidades Radiográficas do Tórax
                                        </label>
                                    </div>

                                </div>

                                <div class="row p-t-20">
                                    <div class="col-md-4 offset-md-8">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Antecedentes Mórbidos
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Anamnse-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Anamnese</strong></h3>
                            <hr>
                            <div class=" m-t-40 row">

                                <div class="form-group col-md-12 m-t-20" style=" display:none">
                                    {{ form_clinica.paciente.errors }}
                                    <label for="{{ form_clinica.acv.id_historia_clinicav }}">Paciente</label>
                                    {{ form_clinica.paciente }}
                                </div>


                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.historia_clinica.errors }}
                                    <label for="{{ form_clinica.acv.id_historia_clinicav }}">História Clínica</label>
                                    {{ form_clinica.historia_clinica }}
                                </div>


                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.fatores_risco_dac.errors }}
                                    <label for="{{ form_clinica.fatores_risco_dac.id_fatores_risco_dac }}">Fatores de
                                        Risco para DAC</label>
                                    {{ form_clinica.fatores_risco_dac }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.co_morbidades.errors }}
                                    <label for="{{ form_clinica.co_morbidades.id_co_morbidades }}">Co-Morbidades</label>
                                    {{ form_clinica.co_morbidades }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.medicacoes.errors }}
                                    <label for="{{ form_clinica.medicacoes.id_medicacoes }}">Medicações em uso</label>
                                    {{ form_clinica.medicacoes }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.funcao_ventricular_esquerda.errors }}
                                    <label for="{{ form_clinica.funcao_ventricular_esquerda.id_funcao_ventricular_esquerda }}">Função
                                        Venticular Esquerda</label>
                                    {{ form_clinica.funcao_ventricular_esquerda }}
                                </div>


                                 <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.pratica_exercicio_fisico.errors }}
                                    <label for="{{ form_clinica.pratica_exercicio_fisico.id_pratica_exercicio_fisico }}">
                                        Pratica Exercícios Físicos
                                    </label>
                                    {{ form_clinica.pratica_exercicio_fisico }}
                                </div>



                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Anamnse
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Exames Complementares-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Exames Complementares</strong></h3>
                            <hr>
                            <div class="table-responsive m-t-40">

                                <div class="form-group">
                                    {{ form_clinica.eco.errors }}
                                    <label for="{{ form_clinica.eco.id_eco }}">
                                        ECO
                                    </label>
                                    {{ form_clinica.eco }}
                                </div>

                                <div class="form-group">
                                    {{ form_clinica.cate.errors }}
                                    <label for="{{ form_clinica.cate.id_cate }}">
                                        CATE
                                    </label>
                                    {{ form_clinica.cate }}
                                </div>

                                <div class="form-group">
                                    {{ form_clinica.ecg.errors }}
                                    <label for="{{ form_clinica.ecg.id_ecg }}">
                                        ECG
                                    </label>
                                    {{ form_clinica.ecg }}
                                </div>

                                <div class="row m-1">
                                    <div class="">
                                        <label>
                                            Adicionar TE/TCP?
                                        </label>
                                        <button id="btn-te" class="btn btn-primary ml-2" formnovalidate>+ TE</button>
                                        <button id="btn-tcp" class="btn btn-primary ml-1" formnovalidate>+ TCP</button>
                                    </div>
                                </div>
                                
                                <div class="row m-1">
                                    <div class="col-6">
                                        <div id="card-te" class="card {% if update != 'True' %}d-none{% endif %}">
                                            <div class="card-body">
                                                <h3 class="card-title"><strong>TE</strong></h3>
                                                <hr>
                                                <div class="m-t-40">
                    

                                                    {{ form_ergometrico | crispy }}
                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="col-6">
                                        <div id="card-tcp" class="card {% if update != 'True' %}d-none{% endif %}">
                                            <div class="card-body">
                                                <h3 class="card-title"><strong>TCP</strong></h3>
                                                <hr>
                                                <div class="m-t-40">
                    

                                                    {{ form_cardiopulmonar | crispy }}
                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="row m-1">
                                    <div class="">
                                        <label>
                                            Adicionar Bioquimico?
                                        </label>
                                        <button id="btn-bioquimicos" class="btn btn-primary ml-2" formnovalidate>+ Bioquimico</button>
                                    </div>
                                </div>
                                
                                <div class="row m-1">
                                    <div class="col-12">
                                        <div id="card-bioquimicos" class="card {% if update != 'True' %}d-none{% endif %}">
                                            <div class="card-body">
                                                <h3 class="card-title"><strong>Exames Bioquimicos</strong></h3>
                                                <hr>
                                                <div class="m-t-40">
                    
                                                    {% load crispy_forms_tags %}
                                                    {{ form_bioquimicos | crispy }}
                    
                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            

                                <div class="form-group">
                                    {{ form_clinica.outros.errors }}
                                    <label for="{{ form_clinica.outros.id_outros }}">
                                        Outros
                                    </label>
                                    {{ form_clinica.outros }}
                                </div>


                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-4 offset-md-8">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Exames Complementares
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Exames Físicos-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Exames Físicos</strong></h3>
                            <hr>
                            <div class="m-t-40 row">

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.acv.errors }}
                                    <label for="{{ form_clinica.acv.id_acv }}">Aparelho Cardiovascular</label>
                                    {{ form_clinica.acv }}
                                </div>


                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.carotidas.errors }}
                                    <label for="{{ form_clinica.carotidas.id_carotidas }}">Carótidas</label>
                                    {{ form_clinica.carotidas }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.ar.errors }}
                                    <label for="{{ form_clinica.ar.id_ar }}">Aparelho Respiratório</label>
                                    {{ form_clinica.ar }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.abdomen.errors }}
                                    <label for="{{ form_clinica.abdomen.id_abdomen }}">Abdômen</label>
                                    {{ form_clinica.abdomen }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.locomotor_neurologico.errors }}
                                    <label for="{{ form_clinica.locomotor_neurologico.id_locomotor_neurologico }}">Neurológico</label>
                                    {{ form_clinica.locomotor_neurologico }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.osteo_muscular.errors }}
                                    <label for="{{ form_clinica.osteo_muscular.id_osteo_muscular }}">Osteo-muscular</label>
                                    {{ form_clinica.osteo_muscular }}
                                </div>

                                <div class="form-group col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20p">
                                    {{ form_clinica.oftalmologico.errors }}
                                    <label for="{{ form_clinica.oftalmologico.id_oftalmologico }}">Oftalmológico</label>
                                    {{ form_clinica.oftalmologico }}
                                </div>

                                <div class="form-group col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20 col-md-12 m-t-20">
                                    {{ form_clinica.geral.errors }}
                                    <label for="{{ form_clinica.geral.id_geral }}">Avaliação Geral do Paciente</label>
                                    {{ form_clinica.geral }}
                                </div>

                                <div class="form-group col-md-4 m-t-20">
                                    {{ form_clinica.pressao_arterial.errors }}
                                    <label for="{{ form_clinica.pressao_arterial.id_pressao_arterial }}">Pressão
                                        Arterial</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_arterial }}
                                        <span class="input-group-addon">mmHg</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-4 m-t-20">
                                    {{ form_clinica.frequencia_cardiaca.errors }}
                                    <label for="{{ form_clinica.frequencia_cardiaca.id_frequencia_cardiaca }}">Frequência
                                        Cardíaca</label>
                                    <div class="input-group">
                                        {{ form_clinica.frequencia_cardiaca }}
                                        <span class="input-group-addon">bpm</span>
                                    </div>

                                </div>

                                <div class="form-group col-md-4 m-t-20">
                                    {{ form_clinica.saturacao_oxigenio.errors }}
                                    <label for="{{ form_clinica.saturacao_oxigenio.id_saturacao_oxigenio }}">Saturação
                                        de Oxigênio</label>
                                    <div class="input-group">
                                        {{ form_clinica.saturacao_oxigenio }}
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.triglicerideos.errors }}
                                    <label for="{{ form_clinica.triglicerideos.id_triglicerideos }}">Triglicerídeos</label>
                                    <div class="input-group">
                                        {{ form_clinica.triglicerideos }}
                                        <span class="input-group-addon">mg/dl</span>
                                    </div>

                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.colesterol.errors }}
                                    <label for="{{ form_clinica.colesterol.id_colesterol }}">Colesterol</label>
                                    <div class="input-group">
                                        {{ form_clinica.colesterol }}
                                        <span class="input-group-addon">mg/dl</span>
                                    </div>
                                </div>

                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-4 offset-md-8">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Exames Médicos
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Prescrição Médica-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Prescrição Médica</strong></h3>
                            <hr>
                            <div class="table-responsive m-t-40">

                                <div class="form-group">
                                    {{ form_clinica.risco_cardiovascular.errors }}
                                    <label for="{{ form_clinica.risco_cardiovascular.id_risco_cardiovascular }}">
                                        Classificação do Risco Cardiovascular
                                    </label>
                                    {{ form_clinica.risco_cardiovascular }}
                                </div>

                                <div class="form-group">
                                    {{ form_clinica.texto_prescricao.errors }}
                                    <label for="{{ form_clinica.texto_prescricao.id_texto_prescricao }}">
                                        Prescrição
                                    </label>
                                    {{ form_clinica.texto_prescricao }}
                                </div>

                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Prescrição
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Exames Solicitados-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Exames Solicitados</strong></h3>
                            <hr>
                            <div class="table-responsive m-t-40">

                                <div class="form-group">
                                    {{ form_clinica.texto.errors }}
                                    <label for="{{ form_clinica.texto.id_texto }}">
                                        Exames
                                    </label>
                                    {{ form_clinica.texto }}
                                </div>

                                <div class="col-md-6 m-t-20">
                                    <div class="form-group">
                                        {{ form_clinica.data_entrega.errors }}
                                        <label for="{{ form_clinica.data_entrega.id_data_entrega }}">
                                            Prazo Entrega:
                                            {{ form_clinica.data_entrega }}
                                        </label>

                                        <div class="m-t-2">
                                            <button id="btn-15" class="btn btn-primary">15 Dias</button>
                                            <button id="btn-30" class="btn btn-primary">30 Dias</button>
                                            <button id="btn-45" class="btn btn-primary">45 Dias</button>
                                            <button id="btn-60" class="btn btn-primary">60 Dias</button>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Exames
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao  switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--TC6-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>TC6</strong></h3>
                            <hr>
                            <div class="m-t-40 row">

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.distancia_percorrida.errors }}
                                    <label for="{{ form_clinica.distancia_percorrida.id_distancia_percorrida }}">
                                        Distância Percorrida
                                    </label>
                                    {{ form_clinica.distancia_percorrida }}
                                </div>


                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.escala_borg.errors }}
                                    <label for="{{ form_clinica.escala_borg.id_escala_borg }}">
                                        Escala de BORG Alcançada
                                    </label>
                                    {{ form_clinica.escala_borg }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.pa_inicial.errors }}
                                    <label for="{{ form_clinica.pa_inicial.id_pa_inicial }}">
                                        P.A. Inicial
                                    </label>
                                    {{ form_clinica.pa_inicial }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.pa_final.errors }}
                                    <label for="{{ form_clinica.pa_final.id_pa_final }}">
                                        P.A Final
                                    </label>
                                    {{ form_clinica.pa_final }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.pa_recuperacao.errors }}
                                    <label for="{{ form_clinica.pa_recuperacao.id_pa_recuperacao }}">
                                        P.A Recuperação
                                    </label>
                                    {{ form_clinica.pa_recuperacao }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.fc_max.errors }}
                                    <label for="{{ form_clinica.fc_max.id_fc_max }}">
                                        F.C. Máxima
                                    </label>
                                    {{ form_clinica.fc_max }}
                                </div>

                                <div class="form-group col-md-12 m-t-20">
                                    {{ form_clinica.sat_02.errors }}
                                    <label for="{{ form_clinica.sat_02.id_sat_02 }}">
                                        Saturação 02
                                    </label>
                                    {{ form_clinica.sat_02 }}
                                </div>


                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="switch float-right">
                                            <label>
                                                Validar TC6
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CNOGA-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><strong>Parâmetros Biomédicos</strong></h3>
                            <hr>
                            <div class="m-t-40 row">

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.pressao_arterial_cnoga.errors }}
                                    <label for="{{ form_clinica.pressao_arterial_cnoga.id_pressao_arterial_cnoga }}">Pressão
                                        Arterial (PA)</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_arterial_cnoga }}
                                        <span class="input-group-addon">mmHg</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.saturacao_o2.errors }}
                                    <label for="{{ form_clinica.saturacao_o2.id_saturacao_o2 }}">Saturação de Oxigênio
                                        (SPO2)</label>
                                    <div class="input-group">
                                        {{ form_clinica.saturacao_o2 }}
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.pressao_parcial_co2.errors }}
                                    <label for="{{ form_clinica.pressao_parcial_co2.id_pressao_parcial_co2 }}">Pressão
                                        Parcial de C02 (PCO2)</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_parcial_co2 }}
                                        <span class="input-group-addon">mmHg</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.pressao_arterial_media.errors }}
                                    <label for="{{ form_clinica.pressao_arterial_media.id_pressao_arterial_media }}">Pressão
                                        Arterial Média (MAP)</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_arterial_media }}
                                        <span class="input-group-addon">mmHg</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.frequencia_cardiaca_cnoga.errors }}
                                    <label for="{{ form_clinica.frequencia_cardiaca_cnoga.id_frequencia_cardiaca_cnoga }}">Frequência
                                        Cardíaca</label>
                                    <div class="input-group">
                                        {{ form_clinica.frequencia_cardiaca_cnoga }}
                                        <span class="input-group-addon">L/min</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.debito_cardiaco.errors }}
                                    <label for="{{ form_clinica.debito_cardiaco.id_debito_cardiaco }}">Débito Cardíaco
                                        (CO)</label>
                                    <div class="input-group">
                                        {{ form_clinica.debito_cardiaco }}
                                        <span class="input-group-addon">L/min</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.hematocrito.errors }}
                                    <label for="{{ form_clinica.hematocrito.id_hematocrito }}">Hematócrito (HCT)</label>
                                    <div class="input-group">
                                        {{ form_clinica.hematocrito }}
                                        <span class="input-group-addon">l/l</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.pressao_co2.errors }}
                                    <label for="{{ form_clinica.pressao_co2.id_pressao_co2 }}">Pressão de (CO2)</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_co2 }}
                                        <span class="input-group-addon">mmol/l</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.hemoglobina_glicada.errors }}
                                    <label for="{{ form_clinica.hemoglobina_glicada.id_hemoglobina_glicada }}">Hemoglobina
                                        (Hb)</label>
                                    <div class="input-group">
                                        {{ form_clinica.hemoglobina_glicada }}
                                        <span class="input-group-addon">g/dl</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.pressao_parcial_o2.errors }}
                                    <label for="{{ form_clinica.pressao_parcial_o2.id_pressao_parcial_o2 }}">Pressão
                                        Parcial de 02 (PO2)</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_parcial_o2 }}
                                        <span class="input-group-addon">mmHg</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.ph_capilar.errors }}
                                    <label for="{{ form_clinica.ph_capilar.id_ph_capilar }}">PH de Capilar (PH)</label>
                                    <div class="input-group">
                                        {{ form_clinica.ph_capilar }}
                                        <span class="input-group-addon">mmHg</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.viscosidade_sanguinea.errors }}
                                    <label for="{{ form_clinica.viscosidade_sanguinea.id_viscosidade_sanguinea }}">Viscosidade
                                        Sanguínea (BV)</label>
                                    <div class="input-group">
                                        {{ form_clinica.viscosidade_sanguinea }}
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.pressao_o2.errors }}
                                    <label for="{{ form_clinica.pressao_o2.id_pressao_o2 }}">Pressão O2 (O2)</label>
                                    <div class="input-group">
                                        {{ form_clinica.pressao_o2 }}
                                        <span class="input-group-addon">ml/dl</span>
                                    </div>
                                </div>

                                <div class="form-group col-md-6 m-t-20">
                                    {{ form_clinica.volume_sistolico.errors }}
                                    <label for="{{ form_clinica.volume_sistolico.id_volume_sistolico }}">Volume
                                        Sistólico (SV)</label>
                                    <div class="input-group">
                                        {{ form_clinica.volume_sistolico }}
                                        <span class="input-group-addon">ml/stk</span>
                                    </div>
                                </div>


                                <div class="col-md-12 m-t-20">
                                    <div class="col-md-3 offset-md-9">
                                        <div class="switch float-right">
                                            <label>
                                                Validar Parâmetros
                                                <input type="checkbox"  {% if update == 'True' %}checked="checked" {% else %} required {% endif %}
                                                       style="width: auto; height: auto; left: auto;">
                                                <span class="lever validacao switch-col-indigo"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Salvar</button>
            {% if form_clinica.instance.pk != None %}
            <a href="{% url 'paciente_geral' 'clinica' paciente.id %}">
                <button type="button" class="btn btn-danger">
                    Cancelar
                </button>
            </a>
            {% endif %}
        </form>
</div>

{{ form_clinica.media.js }}

{% endblock %}



