<form method="post" action="{% url 'avaliacao_clinica_delete' avaliacao_clinica.id %}" class="js-avaliacao-clinica-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Deletar Avaliação Clinica</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Tem certeza que deseja deletar a Avaliação Clínica de <strong> código {{ avaliacao_clinica.id }}</strong> ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Deletar</button>
  </div>
</form>