{% extends "avaliacaoclinica/base_avaliacaoclinica.html" %}

{% block content_avaliacao_clinica %}

{% include 'avaliacaoclinica/pills_avaliacao_clinica.html' %}

<div class="tab-pane {% if tab == 'clinica' %}active{% endif %}" id="tab-avaliacaoclinica" role="tabpanel">

    <div class="tab-content">

        {% include 'avaliacaoclinica/tabela_avaliacao_clinica.html' %}

        {% include 'avaliacaoclinica/avaliacao_clinica_form.html' %}

    </div>
</div>

{% endblock content_avaliacao_clinica %}