{% for avaliacao_clinica in avaliacoes_clinica %}
<tr>
    <td>{{ avaliacao_clinica.id }}</td> 
    <td>{{ avaliacao_clinica.data|date:"d/m/Y" }}</td>
    <td>{{ avaliacao_clinica.usuario.get_full_name }}</td>
    <td><button type='button' class='btn btn-primary btn-sm js-update-avaliacao-clinica' data-url="{% url 'avaliacao_clinica_visualizar' avaliacao_clinica.id %}"> <span class='fa fa-search' aria-hidden='true'></span> Visualizar</button></td>
    <td><a href="{% url 'avaliacao_clinica_update' avaliacao_clinica.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
   <td><button type='button' class='btn btn-danger btn-sm js-delete-avaliacao-clinica' data-url="{% url 'avaliacao_clinica_delete' avaliacao_clinica.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
    <td><a href="{% url 'avaliacao_clinica_print' avaliacao_clinica.id %}"><button type='button' class='btn btn-success btn-sm'> <span class='fa fa-print' aria-hidden='true'></span> Imprimir</button></a></td>
</tr>
{% endfor %}