<div class="d-flex mx-10 my-2 justify-content-between">

    <a href="{% url 'avaliacao_clinica_create' paciente.id %}" class="nav-link btn waves-effect waves-light btn-success">+ Nova</a>

    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"> <a href="#tab-list-avaliacaoclinica" class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-avaliacaoclinica' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Histórico</a> </li>
        {% if form_clinica %}
        <li class=" nav-item"> <a href="#tab-form-avaliacaoclinica" class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-avaliacaoclinica' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Avaliação</a> </li>
        {% endif %}
    </ul>

</div>