{% block content %}

{% load staticfiles %}

<div class="tab-pane {% if subtab == 'lista-avaliacaoclinica' %}active{% endif %}" id="tab-list-avaliacaoclinica" role="tabpanel">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 col-8 align-self-center">
                            <h4 class="card-title">Histórico de Avaliações Clínicas </h4>

                        </div>

                    </div>
                    <div class="table-responsive m-t-40">
                        <table cellpadding="0" cellspacing="0" border="0" id="avaliacao-clinica-table"
                               class="display nowrap table table-hover table-striped table-bordered dataTable">
                            <thead>
                            <tr>
                                <th>Cód.</th>
                                <th>Data</th>
                                <th>Médico</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'avaliacaoclinica/lista_avaliacao_clinica_parcial.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- MODAL -->
            <div class="modal fade " id="modal-avaliacao-clinica">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


{% endblock %}