{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{{ form.media.css }}


<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Prazos de Agendamento</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Prazos de Agendamento</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="card-title">Prazos Agendados</h2>
                        <hr>
                    </div>
                </div>

                <div class="mt-2">
                    <form method="post">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-lg float-right">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{ form.media.js }}

{% endblock content %}


