{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/notificacoes/notificacao.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>

<div class="row">
                    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-inverse card-info">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{ pacientes_ativos }}</h1>
                <h6 class="text-white">Pacientes Ativos</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-primary card-inverse">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ prospects }}</h1>
                <h6 class="text-white">Prospects</h6>
            </div>
        </div>
    </div>
    
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-inverse card-success">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ avaliacoes_fisica }}</h1>
                <h6 class="text-white">Avaliações Físicas</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-inverse card-dark">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ avaliacoes_clinica }}</h1>
                <h6 class="text-white">Avaliações Clínica</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-inverse card-megna">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ prereavaliacoes }}</h1>
                <h6 class="text-white">Pré-Reavaliações</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2">
        <div class="card card-inverse card-warning">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ posturais }}</h1>
                <h6 class="text-white">Avaliações Postural</h6>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title col-11">Notificações</h4>
                    <a class="waves-effect waves-dark col-1" href="{% url 'parametros' %}" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu"></span></a>
                </div>
                <div class="table-responsive m-t-40">
                <table cellpadding="0" cellspacing="0" border="0" id="notificacao-table" class="display nowrap table table-hover table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Remover</th>
                            <th>Adiar</th>
                            <th>Data</th>
                            <th>Notificação</th>
                            <th>Paciente</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'dashboard/lista_notificacao_parcial.html' %}
                    </tbody>
                </table>

                </div>
            </div>
        </div>
    </div>

        <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title col-11">Risco de Abandono</h4>
                </div>
                <div class="table-responsive m-t-40">
                <table cellpadding="0" cellspacing="0" border="0" id="abandono-table" class="display nowrap table table-hover table-striped table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'dashboard/lista_abandono_parcial.html' %}
                    </tbody>
                </table>

                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="modal-notificacao">
        <div class="modal-dialog">
          <div class="modal-content">

          </div>
        </div>
    </div>
</div>

 
{% endblock content %}