{% for notificacao in notificacoes %}
<tr> 
    <td><button type='button' class='btn btn-danger btn-sm js-delete-notificacao' data-url="{% url 'notificacao_delete' notificacao.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Remover</button></td>
    <td><button type='button' class='btn btn-warning btn-sm js-update-notificacao' data-url="{% url 'notificacao_update' notificacao.id %}"> <span class='fa fa-edit' aria-hidden='true'></span> Adiar</button></td>
    <td>{{ notificacao.data_agendamento|date:'d/m/y' }}</td>
    <td>{{ notificacao.get_descricao_modelo_display }}</td>
    <td>{{ notificacao.paciente.nome }}</td>
</tr>
{% endfor %}
    