<form method="post" action="{% url 'notificacao_update' form.instance.pk %}" class="js-notificacao-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Atualizar Notificação</h4>
  </div>
  <div class="modal-body">
    {% load crispy_forms_tags %} 
    {% csrf_token %}
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>