{% extends "teste_caminhada6/base_teste_caminhada.html" %}

{% block content_teste_caminhada %}

<div class="tab-pane {% if tab == 'caminhada' %}active{% endif %}" id="tab-testecaminhada6" role="tabpanel">
    <div class="row m-b-20">
        <div class="col-md-7 col-4 offset-md-5 offset-8 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item"> <a href="#tab-list-testecaminhada6" class="nav-link btn waves-effect waves-light btn-outline-primary m-r-5 {% if subtab != 'formulario-testecaminhada6' %}active{% endif %}" data-toggle="tab" aria-expanded="false">Histórico</a> </li>
                    <li class=" nav-item"> <a href="#tab-form-testecaminhada6" class="nav-link btn waves-effect waves-light btn-outline-primary {% if subtab == 'formulario-testecaminhada6' %}active{% endif %}" data-toggle="tab" aria-expanded="false">+ Nova</a> </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">

        {% include 'teste_caminhada6/tabela_teste_caminhada.html' %}

        {% include 'teste_caminhada6/teste_caminhada_form.html' %}

    </div>
</div>

{% endblock content_teste_caminhada %}