{% for teste_caminhada in testes_caminhada %}
<tr>
    <td>{{ teste_caminhada.id }}</td> 
    <td>{{ teste_caminhada.data|date:"d/m/Y" }}</td>
    <td>{{ teste_caminhada.usuario.get_full_name }}</td>
    <td><button type='button' class='btn btn-primary btn-sm js-update-teste-caminhada6' data-url="{% url 'teste_caminhada6_visualizar' teste_caminhada.id %}"> <span class='fa fa-search' aria-hidden='true'></span> Visualizar</button></td>
    <td><a href="{% url 'teste_caminhada6_update' teste_caminhada.id %}"><button type='button' class='btn btn-warning btn-sm'> <span class='fa fa-pencil-square-o' aria-hidden='true'></span> Editar</button></a></td>
    <td><a href="{% url 'view_teste_caminhada_rel' teste_caminhada.id %}" target="_blank"><button type='button' class='btn btn-secondary btn-sm'> <span class='fa fa-print' aria-hidden='true'></span> Relatório</button></a></td>
   <td><button type='button' class='btn btn-danger btn-sm js-delete-teste-caminhada6' data-url="{% url 'teste_caminhada6_delete' teste_caminhada.id %}"> <span class='fa fa-trash' aria-hidden='true'></span> Deletar</button></td>
</tr>
{% endfor %}