{% block content %}


{% load staticfiles %}

{% block scripts %}
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    var valueDate = document.getElementById('data_caminhada6').value;
    
    if ( valueDate== null || valueDate== '')
    {
        document.getElementById('data_caminhada6').valueAsDate = new Date();
    }

    $('.btn-add-volta').click(function(ev){

        ev.preventDefault();
        var valor = $(this).siblings('.volta').val();
        $(this).siblings('.volta').val(Number(valor) + 1);
    })

    $('.btn-rm-volta').click(function(ev){
        ev.preventDefault();
        var valor = $(this).siblings('.volta').val();
        $(this).siblings('.volta').val(Number(valor) - 1);
    })
    
});
 window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
  
</script>

{% endblock %}

<style>
    .switch label .lever.validacao:after {
        background-color: #f31414;
    }
    
    .col-md-6{
        margin-top: 10px;
    }
</style>
<div class="tab-pane {% if subtab == 'formulario-testecaminhada6' %}active{% endif %}" id="tab-form-testecaminhada6" role="tabpanel">

{% if form_caminhada6.instance.pk != None %}
    <form method="post" action="{% url 'teste_caminhada6_update' form_caminhada6.instance.pk %}">
{% else %}
    <form method="post" action="{% url 'teste_caminhada6_create' paciente.id %}">
{% endif %}

{% csrf_token %} 

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                 <div class="form-body">
                   <h3 class="card-title"><strong>Novo Teste Caminhada 6 Minutos</strong></h3>
                   <hr>
                   <div class="row ">
                        
                        <div class="form-group col-md-3 ">
                            <label>Data:</label>
                            {{ form_caminhada6.data }}
                        </div>
                        <div class="form-group col-md-9 ">
                            <label>Usuário:</label>
                            {{ form_caminhada6.usuario }}
                        </div>
                        
                        <div class="form-group col-md-12 m-t-20">
                            <h3 class="card-stitle"><strong>Repouso</strong></h3>
                            <hr>
                        </div>

                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6.pa_repouso.errors }}
                            <label for="{{ form_caminhada6.pa_repouso.id_pa_repouso }}">Pressão Arterial</label>
                            <div class="input-group">
                                {{ form_caminhada6.pa_repouso }}
                                 <span class="input-group-addon">mm/Hg</span>
                            </div>
                        </div>

                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6.fc_repouso.errors }}
                            <label for="{{ form_caminhada6.fc_repouso.id_fc_repouso }}">Frequência Cardíaca</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_repouso }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6.sp02_repouso.errors }}
                            <label for="{{ form_caminhada6.sp02_repouso.id_sp02_repouso }}">SP02</label>
                            <div class="input-group">
                                {{ form_caminhada6.sp02_repouso }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6.borg_repouso.errors }}
                            <label for="{{ form_caminhada6.borg_repouso.id_borg_repouso }}">Borg</label>
                            {{ form_caminhada6.borg_repouso }}
                        </div>
                    </div>

                     <div class="row {% if form_caminhada6.total_voltas.value == 0 %}d-none{% endif %}" >
                        <div class="form-group col-md-3 m-t-20">
                            <label for="{{ form_caminhada6.total_voltas.id_total_voltas }}">Total de Voltas</label>
                            {{ form_caminhada6.total_voltas }}
                        </div>
                        <div class="form-group col-md-4 m-t-20">
                            <label for="{{ form_caminhada6.distancia_percorrida.id_distancia_percorrida }}">Distância Percorrida</label>
                            {{ form_caminhada6.distancia_percorrida }}
                        </div>
                     </div>
                    

                        
                            

                </div>
            </div>
        </div>
    </div>
    
</div>




<div class="row">
  
      <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 1</strong></h5>
                <hr>
                <div class="form-body">

                
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.fc_1.errors }}
                            <label for="{{ form_caminhada6.fc_1.id_fc_1 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_1 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sp02_1.errors }}
                            <label for="{{ form_caminhada6.sp02_1.id_sp02_1 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_1 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.borg_1.errors }}
                            <label for="{{ form_caminhada6.borg_1.id_borg_1 }}">BORG</label>
                            {{ form_caminhada6.borg_1 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.voltas_1.errors }}
                            <label for="{{ form_caminhada6.voltas_1.id_voltas_1 }}">Nº de Voltas</label>
                            <div class="d-flex">
                                <button class="btn btn-danger mr-1 btn-rm-volta">-</button>
                                {{ form_caminhada6.voltas_1 }}
                                <button class="btn btn-primary ml-1 btn-add-volta">+</button>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_1.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_1.id_sinais_sintomas_1 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_1 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 2</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.fc_2.errors }}
                            <label for="{{ form_caminhada6.fc_2.id_fc_2 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_2 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sp02_2.errors }}
                            <label for="{{ form_caminhada6.sp02_2.id_sp02_2 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_2 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.borg_2.errors }}
                            <label for="{{ form_caminhada6.borg_2.id_borg_2 }}">BORG</label>
                            {{ form_caminhada6.borg_2 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.voltas_2.errors }}
                            <label for="{{ form_caminhada6.voltas_2.id_voltas_2 }}">Nº de Voltas</label>
                            <div class="d-flex">
                                <button class="btn btn-danger mr-1 btn-rm-volta">-</button>
                                {{ form_caminhada6.voltas_2 }}
                                <button class="btn btn-primary ml-1 btn-add-volta">+</button>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_2.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_2.id_sinais_sintomas_2 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_2 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 3</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.fc_3.errors }}
                            <label for="{{ form_caminhada6.fc_3.id_fc_3 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_3 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sp02_3.errors }}
                            <label for="{{ form_caminhada6.sp02_3.id_sp02_3 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_3 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.borg_3.errors }}
                            <label for="{{ form_caminhada6.borg_3.id_borg_3 }}">BORG</label>
                            {{ form_caminhada6.borg_3 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.voltas_3.errors }}
                            <label for="{{ form_caminhada6.voltas_3.id_voltas_3 }}">Nº de Voltas</label>
                            <div class="d-flex">
                                <button class="btn btn-danger mr-1 btn-rm-volta">-</button>
                                {{ form_caminhada6.voltas_3 }}
                                <button class="btn btn-primary ml-1 btn-add-volta">+</button>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_3.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_3.id_sinais_sintomas_3 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_3 }}
                        </div>
    
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 4</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.fc_4.errors }}
                            <label for="{{ form_caminhada6.fc_4.id_fc_4 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_4 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sp02_4.errors }}
                            <label for="{{ form_caminhada6.sp02_4.id_sp02_4 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_4 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.borg_4.errors }}
                            <label for="{{ form_caminhada6.borg_4.id_borg_4 }}">BORG</label>
                            {{ form_caminhada6.borg_4 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.voltas_4.errors }}
                            <label for="{{ form_caminhada6.voltas_4.id_voltas_4 }}">Nº de Voltas</label>
                            <div class="d-flex">
                                <button class="btn btn-danger mr-1 btn-rm-volta">-</button>
                                {{ form_caminhada6.voltas_4 }}
                                <button class="btn btn-primary ml-1 btn-add-volta">+</button>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_4.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_4.id_sinais_sintomas_4 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_4 }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 5</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.fc_5.errors }}
                            <label for="{{ form_caminhada6.fc_5.id_fc_5 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_5 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sp02_5.errors }}
                            <label for="{{ form_caminhada6.sp02_5.id_sp02_5 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_5 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.borg_5.errors }}
                            <label for="{{ form_caminhada6.borg_5.id_borg_5 }}">BORG</label>
                            {{ form_caminhada6.borg_5 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.voltas_5.errors }}
                            <label for="{{ form_caminhada6.voltas_5.id_voltas_5 }}">Nº de Voltas</label>
                            <div class="d-flex">
                                <button class="btn btn-danger mr-1 btn-rm-volta">-</button>
                                {{ form_caminhada6.voltas_5 }}
                                <button class="btn btn-primary ml-1 btn-add-volta">+</button>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_5.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_5.id_sinais_sintomas_5 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_5 }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 6</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.fc_6.errors }}
                            <label for="{{ form_caminhada6.fc_6.id_fc_6 }}">F.C.</label>
                            <div class="input-group">
                                {{ form_caminhada6.fc_6 }}
                                 <span class="input-group-addon">bpm</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sp02_6.errors }}
                            <label for="{{ form_caminhada6.sp02_6.id_sp02_6 }}">SP02</label>
                            
                            <div class="input-group">
                                {{ form_caminhada6.sp02_6 }}
                                 <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.borg_6.errors }}
                            <label for="{{ form_caminhada6.borg_6.id_borg_6 }}">BORG</label>
                            {{ form_caminhada6.borg_6 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.voltas_6.errors }}
                            <label for="{{ form_caminhada6.voltas_6.id_voltas_6 }}">Nº de Voltas</label>
                            <div class="d-flex">
                                <button class="btn btn-danger mr-1 btn-rm-volta">-</button>
                                {{ form_caminhada6.voltas_6 }}
                                <button class="btn btn-primary ml-1 btn-add-volta">+</button>
                            </div>
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6.sinais_sintomas_6.errors }}
                            <label for="{{ form_caminhada6.sinais_sintomas_6.id_sinais_sintomas_6 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6.sinais_sintomas_6 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-stitle"><strong>Pós Esforço</strong></h3>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                           
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.pa_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.pa_pos_esforco.id_pa_pos_esforco }}">Pressão Arterial</label>
                                <div class="input-group">
                                    {{ form_caminhada6.pa_pos_esforco }}
                                     <span class="input-group-addon">mm/Hg</span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.fc_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.fc_pos_esforco.id_fc_pos_esforco }}">Frequência Cardíaca</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.fc_pos_esforco }}
                                     <span class="input-group-addon">bpm</span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.sp02_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.sp02_pos_esforco.id_sp02_pos_esforco }}">SP02</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.sp02_pos_esforco }}
                                     <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.borg_pos_esforco.errors }}
                                <label for="{{ form_caminhada6.borg_pos_esforco.id_borg_pos_esforco }}">Borg</label>
                                {{ form_caminhada6.borg_pos_esforco }}
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
        
    <div class="col-md-6">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-stitle"><strong>Recuperação</strong></h3>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.pa_recuperacao.errors }}
                                <label for="{{ form_caminhada6.pa_recuperacao.id_pa_recuperacao }}">Pressão Arterial</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.pa_recuperacao }}
                                     <span class="input-group-addon">mm/Hg</span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.fc_recuperacao.errors }}
                                <label for="{{ form_caminhada6.fc_recuperacao.id_fc_recuperacao }}">Frequência Cardíaca</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.fc_recuperacao }}
                                     <span class="input-group-addon">bpm</span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.sp02_recuperacao.errors }}
                                <label for="{{ form_caminhada6.sp02_recuperacao.id_sp02_recuperacao }}">SP02</label>
                                
                                <div class="input-group">
                                    {{ form_caminhada6.sp02_recuperacao }}
                                     <span class="input-group-addon">%</span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6.borg_recuperacao.errors }}
                                <label for="{{ form_caminhada6.borg_recuperacao.id_borg_recuperacao }}">Borg</label>
                                {{ form_caminhada6.borg_recuperacao }}
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
</div>




<button type="submit" class="btn btn-primary">Salvar</button>
{% if form_postural.instance.pk != None %}
    <a href="{% url 'paciente_geral' 'postural' paciente.id %}">
        <button type="button" class="btn btn-danger">
          Cancelar
        </button>
    </a>
{% endif %}
</form>
</div>


{% endblock %}