{% csrf_token %}
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<h4 class="modal-title">Detalhes Teste Caminhada 6 Minutos</h4>
</div>
<div class="modal-body">
    

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                 <div class="form-body">
                   <h3 class="card-title"><strong>Novo Teste Caminhada 6 Minutos</strong></h3>
                   <hr>
                   <div class="row ">
                        
                        <div class="form-group col-md-12 m-t-20">
                            <h3 class="card-stitle"><strong>Repouso</strong></h3>
                            <hr>
                        </div>
                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6_vis.pa_repouso.errors }}
                            <label for="{{ form_caminhada6_vis.pa_repouso.id_pa_repouso }}">Pressão Arterial</label>
                            {{ form_caminhada6_vis.pa_repouso }}
                        </div>
                        
                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6_vis.fc_repouso.errors }}
                            <label for="{{ form_caminhada6_vis.fc_repouso.id_fc_repouso }}">F. C.</label>
                            {{ form_caminhada6_vis.fc_repouso }}
                        </div>
                        
                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6_vis.sp02_repouso.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_repouso.id_sp02_repouso }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_repouso }}
                        </div>
                        
                        <div class="form-group col-md-3 m-t-20">
                            {{ form_caminhada6_vis.borg_repouso.errors }}
                            <label for="{{ form_caminhada6_vis.borg_repouso.id_borg_repouso }}">Borg</label>
                            {{ form_caminhada6_vis.borg_repouso }}
                        </div>
                    </div>

                    <div class="row ">
                        <div class="form-group col-md-3 m-t-20">
                            <label for="{{ form_caminhada6_vis.total_voltas.id_total_voltas }}">Total de Voltas</label>
                            {{ form_caminhada6_vis.total_voltas }}
                        </div>
                        <div class="form-group col-md-4 m-t-20">
                            <label for="{{ form_caminhada6_vis.distancia_percorrida.id_distancia_percorrida }}">Distância Percorrida</label>
                            {{ form_caminhada6_vis.distancia_percorrida }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>




<div class="row">
  
      <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 1</strong></h5>
                <hr>
                <div class="form-body">

                
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.fc_1.errors }}
                            <label for="{{ form_caminhada6_vis.fc_1.id_fc_1 }}">F.C.</label>
                            {{ form_caminhada6_vis.fc_1 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sp02_1.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_1.id_sp02_1 }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_1 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.borg_1.errors }}
                            <label for="{{ form_caminhada6_vis.borg_1.id_borg_1 }}">BORG</label>
                            {{ form_caminhada6_vis.borg_1 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.voltas_1.errors }}
                            <label for="{{ form_caminhada6_vis.voltas_1.id_voltas_1 }}">Nº de Voltas</label>
                            {{ form_caminhada6_vis.voltas_1 }}
                        </div>
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sinais_sintomas_1.errors }}
                            <label for="{{ form_caminhada6_vis.sinais_sintomas_1.id_sinais_sintomas_1 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6_vis.sinais_sintomas_1 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 2</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.fc_2.errors }}
                            <label for="{{ form_caminhada6_vis.fc_2.id_fc_2 }}">F.C.</label>
                            {{ form_caminhada6_vis.fc_2 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sp02_2.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_2.id_sp02_2 }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_2 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.borg_2.errors }}
                            <label for="{{ form_caminhada6_vis.borg_2.id_borg_2 }}">BORG</label>
                            {{ form_caminhada6_vis.borg_2 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.voltas_2.errors }}
                            <label for="{{ form_caminhada6_vis.voltas_2.id_voltas_2 }}">Nº de Voltas</label>
                            {{ form_caminhada6_vis.voltas_2 }}
                        </div>
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sinais_sintomas_2.errors }}
                            <label for="{{ form_caminhada6_vis.sinais_sintomas_2.id_sinais_sintomas_2 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6_vis.sinais_sintomas_2 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 3</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.fc_3.errors }}
                            <label for="{{ form_caminhada6_vis.fc_3.id_fc_3 }}">F.C.</label>
                            {{ form_caminhada6_vis.fc_3 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sp02_3.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_3.id_sp02_3 }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_3 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.borg_3.errors }}
                            <label for="{{ form_caminhada6_vis.borg_3.id_borg_3 }}">BORG</label>
                            {{ form_caminhada6_vis.borg_3 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.voltas_3.errors }}
                            <label for="{{ form_caminhada6_vis.voltas_3.id_voltas_3 }}">Nº de Voltas</label>
                            {{ form_caminhada6_vis.voltas_3 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sinais_sintomas_3.errors }}
                            <label for="{{ form_caminhada6_vis.sinais_sintomas_3.id_sinais_sintomas_3 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6_vis.sinais_sintomas_3 }}
                        </div>
    
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 4</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.fc_4.errors }}
                            <label for="{{ form_caminhada6_vis.fc_4.id_fc_4 }}">F.C.</label>
                            {{ form_caminhada6_vis.fc_4 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sp02_4.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_4.id_sp02_4 }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_4 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.borg_4.errors }}
                            <label for="{{ form_caminhada6_vis.borg_4.id_borg_4 }}">BORG</label>
                            {{ form_caminhada6_vis.borg_4 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.voltas_4.errors }}
                            <label for="{{ form_caminhada6_vis.voltas_4.id_voltas_4 }}">Nº de Voltas</label>
                            {{ form_caminhada6_vis.voltas_4 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sinais_sintomas_4.errors }}
                            <label for="{{ form_caminhada6_vis.sinais_sintomas_4.id_sinais_sintomas_4 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6_vis.sinais_sintomas_4 }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 5</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.fc_5.errors }}
                            <label for="{{ form_caminhada6_vis.fc_5.id_fc_5 }}">F.C.</label>
                            {{ form_caminhada6_vis.fc_5 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sp02_5.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_5.id_sp02_5 }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_5 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.borg_5.errors }}
                            <label for="{{ form_caminhada6_vis.borg_5.id_borg_5 }}">BORG</label>
                            {{ form_caminhada6_vis.borg_5 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.voltas_5.errors }}
                            <label for="{{ form_caminhada6_vis.voltas_5.id_voltas_5 }}">Nº de Voltas</label>
                            {{ form_caminhada6_vis.voltas_5 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sinais_sintomas_5.errors }}
                            <label for="{{ form_caminhada6_vis.sinais_sintomas_5.id_sinais_sintomas_5 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6_vis.sinais_sintomas_5 }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
    
        <div class="card">
            <div class="card-body">
                <h5 class="card-stitle"><strong>Minuto 6</strong></h5>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.fc_6.errors }}
                            <label for="{{ form_caminhada6_vis.fc_6.id_fc_6 }}">F.C.</label>
                            {{ form_caminhada6_vis.fc_6 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sp02_6.errors }}
                            <label for="{{ form_caminhada6_vis.sp02_6.id_sp02_6 }}">SP02</label>
                            {{ form_caminhada6_vis.sp02_6 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.borg_6.errors }}
                            <label for="{{ form_caminhada6_vis.borg_6.id_borg_6 }}">BORG</label>
                            {{ form_caminhada6_vis.borg_6 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.voltas_6.errors }}
                            <label for="{{ form_caminhada6_vis.voltas_6.id_voltas_6 }}">Nº de Voltas</label>
                            {{ form_caminhada6_vis.voltas_6 }}
                        </div>
                        <div class="form-group col-md-12 m-t-20">
                            {{ form_caminhada6_vis.sinais_sintomas_6.errors }}
                            <label for="{{ form_caminhada6_vis.sinais_sintomas_6.id_sinais_sintomas_6 }}">Sinais/Sintomas</label>
                            {{ form_caminhada6_vis.sinais_sintomas_6 }}
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-stitle"><strong>Pós Esforço</strong></h3>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                           
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.pa_pos_esforco.errors }}
                                <label for="{{ form_caminhada6_vis.pa_pos_esforco.id_pa_pos_esforco }}">Pressão Arterial</label>
                                {{ form_caminhada6_vis.pa_pos_esforco }}
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.fc_pos_esforco.errors }}
                                <label for="{{ form_caminhada6_vis.fc_pos_esforco.id_fc_pos_esforco }}">Frequência Cardíaca</label>
                                {{ form_caminhada6_vis.fc_pos_esforco }}
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.sp02_pos_esforco.errors }}
                                <label for="{{ form_caminhada6_vis.sp02_pos_esforco.id_sp02_pos_esforco }}">SP02</label>
                                {{ form_caminhada6_vis.sp02_pos_esforco }}
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.borg_pos_esforco.errors }}
                                <label for="{{ form_caminhada6_vis.borg_pos_esforco.id_borg_pos_esforco }}">Borg</label>
                                {{ form_caminhada6_vis.borg_pos_esforco }}
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
        
    <div class="col-md-6">
    
        <div class="card">
            <div class="card-body">
                <h3 class="card-stitle"><strong>Recuperação</strong></h3>
                <hr>
                <div class="form-body">

    
                   <div class="row p-t-20">
                        
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.pa_recuperacao.errors }}
                                <label for="{{ form_caminhada6_vis.pa_recuperacao.id_pa_recuperacao }}">Pressão Arterial</label>
                                {{ form_caminhada6_vis.pa_recuperacao }}
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.fc_recuperacao.errors }}
                                <label for="{{ form_caminhada6_vis.fc_recuperacao.id_fc_recuperacao }}">Frequência Cardíaca</label>
                                {{ form_caminhada6_vis.fc_recuperacao }}
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.sp02_recuperacao.errors }}
                                <label for="{{ form_caminhada6_vis.sp02_recuperacao.id_sp02_recuperacao }}">SP02</label>
                                {{ form_caminhada6_vis.sp02_recuperacao }}
                            </div>
                            
                            <div class="form-group col-md-12 m-t-20">
                                {{ form_caminhada6_vis.borg_recuperacao.errors }}
                                <label for="{{ form_caminhada6_vis.borg_recuperacao.id_borg_recuperacao }}">Borg</label>
                                {{ form_caminhada6_vis.borg_recuperacao }}
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
</div>





</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>
