{% extends "base.html" %} 

{% block content %}

{% load staticfiles %}

{% block scripts %}

<script src="{% static 'assets/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>


<script type="text/javascript">


    $(document).ready(function($){
        
        $('#menu-pacientes').addClass('active');
    
    });

    
    window.onerror = function (msg) {
        $("body").attr("JSError", msg);
      }
    
</script>



{% endblock %}

<style>
    
.nav {
    flex-wrap: wrap !important;    
}

.table {
    width: 100% !important;
}

svg {
    padding-top: 15px;
}
</style>


{% include 'base/paciente_header.html' %}

<div>
    
{% include 'paciente_dashboard/dashboard_avaliacao_fisica.html' %}
    
</div>


{% endblock content %}